<%args>
    $dbh
    $auth
    $id => 0    # в таблице b_credit
</%args>
<%init>
if($auth->{gid} ne '1' && $auth->{gid} ne '2') {    # admin или manager
    $r->status_line('');
    $m->clear_buffer;
    $m->abort(404);
}
use Imager::QRCode qw(plot_qrcode);
use MIME::Base64;

# Ищем кнопку печати квитанции
foreach(keys %ARGS) {
    if(m/^print_(\d+)$/) {
        $id = $1;
        last;
    }
}

my $ORGANIZATION = 'СНТ "Зеленая Горка"';
my $ACCOUNT_NO = '40703810338070100190';
my $INN = '5003005126';
my $BANK_NAME = 'ПАО "Сбербанк России" г. Москва';
my $BIK = '044525225';
my $CORR = '30101810400000000225';

my $sth = $dbh->prepare("SELECT A.dn,A.debt,B.name FROM b_credit A INNER JOIN b_tariff B ON A.b_tariff_id=B.id WHERE A.id=?");
$sth->execute($id);
my ($dn,$AMOUNT,$PAY_NAME) = $sth->fetchrow_array;
$sth->finish;

my ($house,$street) = ($dn =~ m/ou=(\w*),ou=(\w*)$/);
my $PAYER_ADDR = "$street, $house";

# Данные участка
my $Usr = $m->comp("lib.msn:get_Domain", dbh=>$dbh, dn=>$dn)   if($dn);
my $PAYER_NAME = $Usr->{owners}->[0]->{cn}->[0];
my ($plname,$pfname,$pmname) = split(/\s/,$PAYER_NAME);

#Строка данных в QR-код:
my $qrstr = "ST00012|Name=$ORGANIZATION|PersonalAcc=$ACCOUNT_NO|BankName=$BANK_NAME|BIC=$BIK|CorrespAcc=$CORR|PayeeINN=$INN|LastName=$plname|FirstName=$pfname|MiddleName=$pmname|Purpose=$PAY_NAME|РауегАddress=$PAYER_ADDR|Sum=$AMOUNT";
my $img = plot_qrcode($qrstr);
my $data;
$img->write(data=>\$data,type=>"png");
my $qr = encode_base64($data);



#use Data::Dumper;
</%init>
%#<pre>
%#<%Dumper %ARGS%>
%#</pre>
%#<%$qrstr%>

<script language="javascript">
$(document).ready(function() { window.print(); });
</script>


<style type="text/css">
    TABLE { border-style:solid; border-width:0px; border-collapse:collapse;}
    TD { font-family: Verdana, Arial, Helvetica; font-size:12pt; border-width:0px; empty-cells:hide; padding:0px; outline:0px solid white; }
    TH { font-family: Verdana, Arial, Helvetica; font-size:12pt; border-width:0px; empty-cells:hide; padding:0px; outline:0px solid white; background-color: white;}

    table.sbb td { color: #000000; font-size: 14px; font-family: Times New Roman, Arial, Tahoma; }
    @media print {
        input {display: none; }
    }
</style>
<table style="width: 180mm; height: 145mm;" class="sbb" border="0" cellpadding="0" cellspacing="0">
    <tbody>
        <tr valign="top">
            <td style="border-right: medium none; border-width: 1pt medium medium 1pt; border-style: solid none none solid; border-color: rgb(0, 0, 0) -moz-use-text-color -moz-use-text-color rgb(0, 0, 0); width: 50mm; height: 70mm;" align="center"><strong>Извещение</strong><br>


<img src="data:image/png;base64,<%$qr%>" width="100%" alt="QR-код"/>



            <font style="FONT-SIZE: 23mm">&nbsp;<br></font><strong>Кассир</strong></td>
            <td style="border-right: 1pt solid rgb(0, 0, 0); border-width: 1pt 1pt medium; border-style: solid solid none; border-color: rgb(0, 0, 0) rgb(0, 0, 0) -moz-use-text-color;" align="center">
            <table style="margin-top: 3pt; width: 122mm;" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td align="right"><small><em>Форма № ПД-4</em></small></td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 1pt solid rgb(0, 0, 0); font-size:10px;"><p><strong><%$ORGANIZATION%></strong></p></td>
                    </tr>
                    <tr>
                        <td align="center"><small>(наименование получателя платежа)</small></td>
                    </tr>
                </tbody>
            </table>
            <table style="margin-top: 3pt; width: 122mm;" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td style="width: 37mm; border-bottom: 1pt solid rgb(0, 0, 0);"><%$INN%></td>
                        <td style="width: 9mm;">&nbsp;</td>
                        <td style="border-bottom: 1pt solid rgb(0, 0, 0);"><%$ACCOUNT_NO%></td>
                    </tr>
                    <tr>
                        <td align="center"><small>(ИНН получателя платежа)</small></td>
                        <td><small>&nbsp;</small></td>
                        <td align="center"><small>(номер счета получателя платежа)</small></td>
                    </tr>
                </tbody>
            </table>
            <table style="margin-top: 3pt; width: 122mm;" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>в&nbsp;</td>
                        <td style="width: 73mm; border-bottom: 1pt solid rgb(0, 0, 0);"><%$BANK_NAME%></td>
                        <td align="right">БИК&nbsp;&nbsp;</td>
                        <td style="width: 33mm; border-bottom: 1pt solid rgb(0, 0, 0);"><%$BIK%></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td align="center"><small>(наименование банка получателя платежа)</small></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <table style="margin-top: 3pt; width: 122mm;" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td nowrap="nowrap" width="1%">Номер кор./сч. банка получателя платежа&nbsp;&nbsp;</td>
                        <td style="border-bottom: 1pt solid rgb(0, 0, 0);" width="100%"><%$CORR%></td>
                    </tr>
                </tbody>
            </table>
            <table style="margin-top: 3pt; width: 122mm;" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td style="width: 60mm; border-bottom: 1pt solid rgb(0, 0, 0);"><%$PAY_NAME%></td>
                        <td style="width: 2mm;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center"><small>(наименование платежа)</small></td>
                        <td><small>&nbsp;</small></td>
                    </tr>
                </tbody>
            </table>
            <table style="margin-top: 3pt; width: 122mm;" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td nowrap="nowrap" width="1%">Ф.И.О. плательщика&nbsp;&nbsp;</td>
                        <td style="border-bottom: 1pt solid rgb(0, 0, 0);" width="100%"><%$PAYER_NAME%>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <table style="margin-top: 3pt; width: 122mm;" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td nowrap="nowrap" width="1%">Адрес плательщика&nbsp;&nbsp;</td>
                        <td style="border-bottom: 1pt solid rgb(0, 0, 0);" width="100%"><%$PAYER_ADDR%>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <table style="margin-top: 3pt; width: 122mm;" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>Сумма платежа&nbsp;&nbsp;&nbsp;<% defined $AMOUNT ? $AMOUNT : "_________________" %>&nbsp;руб.&nbsp;00 коп.</td>
                    </tr>
                </tbody>
            </table>
            <table style="margin-top: 3pt; width: 122mm;" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td align="right">&nbsp;&nbsp;«______»________________ 201____ г.</td>
                    </tr>
                </tbody>
            </table>
            <table style="margin-top: 3pt; width: 122mm;" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td><small>С условиями приема указанной в платежном документе суммы, в т.ч. с суммой взимаемой платы за услуги банка, ознакомлен и согласен.</small></td>
                    </tr>
                </tbody>
            </table>
            <table style="margin-top: 3pt; width: 122mm;" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td align="right"><strong>Подпись плательщика _____________________</strong></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
        <tr valign="top">
            <td style="border-right: medium none; border-width: 1pt medium 1pt 1pt; border-style: solid none solid solid; border-color: rgb(0, 0, 0) -moz-use-text-color rgb(0, 0, 0) rgb(0, 0, 0); width: 50mm; height: 70mm;" align="center"><font style="FONT-SIZE: 50mm">&nbsp;<br></font><strong>Квитанция</strong><br><font style="FONT-SIZE: 8pt">&nbsp;<br></font><strong>Кассир</strong></td>
            <td style="border-right: 1pt solid rgb(0, 0, 0); border-width: 1pt; border-style: solid; border-color: rgb(0, 0, 0);" align="center">
            <table style="margin-top: 3pt; width: 122mm;" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td align="right"><small><em>Форма № ПД-4</em></small></td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 1pt solid rgb(0, 0, 0); font-size:10px;"><p><strong><%$ORGANIZATION%></strong></p></td>
                    </tr>
                    <tr>
                        <td align="center"><small>(наименование получателя платежа)</small></td>
                    </tr>
                </tbody>
            </table>
            <table style="margin-top: 3pt; width: 122mm;" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td style="width: 37mm; border-bottom: 1pt solid rgb(0, 0, 0);"><%$INN%></td>
                        <td style="width: 9mm;">&nbsp;</td>
                        <td style="border-bottom: 1pt solid rgb(0, 0, 0);"><%$ACCOUNT_NO%></td>
                    </tr>
                    <tr>
                        <td align="center"><small>(ИНН получателя платежа)</small></td>
                        <td><small>&nbsp;</small></td>
                        <td align="center"><small>(номер счета получателя платежа)</small></td>
                    </tr>
                </tbody>
            </table>
            <table style="margin-top: 3pt; width: 122mm;" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>в&nbsp;</td>
                        <td style="width: 73mm; border-bottom: 1pt solid rgb(0, 0, 0);"><%$BANK_NAME%></td>
                        <td align="right">БИК&nbsp;&nbsp;</td>
                        <td style="width: 33mm; border-bottom: 1pt solid rgb(0, 0, 0);"><%$BIK%></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td align="center"><small>(наименование банка получателя платежа)</small></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <table style="margin-top: 3pt; width: 122mm;" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td nowrap="nowrap" width="1%">Номер кор./сч. банка получателя платежа&nbsp;&nbsp;</td>
                        <td style="border-bottom: 1pt solid rgb(0, 0, 0);" width="100%"><%$CORR%></td>
                    </tr>
                </tbody>
            </table>
            <table style="margin-top: 3pt; width: 122mm;" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td style="width: 60mm; border-bottom: 1pt solid rgb(0, 0, 0);"><%$PAY_NAME%></td>
                        <td style="width: 2mm;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center"><small>(наименование платежа)</small></td>
                        <td><small>&nbsp;</small></td>
                    </tr>
                </tbody>
            </table>
            <table style="margin-top: 3pt; width: 122mm;" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td nowrap="nowrap" width="1%">Ф.И.О. плательщика&nbsp;&nbsp;</td>
                        <td style="border-bottom: 1pt solid rgb(0, 0, 0);" width="100%"><%$PAYER_NAME%>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <table style="margin-top: 3pt; width: 122mm;" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td nowrap="nowrap" width="1%">Адрес плательщика&nbsp;&nbsp;</td>
                        <td style="border-bottom: 1pt solid rgb(0, 0, 0);" width="100%"><%$PAYER_ADDR%>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            <table style="margin-top: 3pt; width: 122mm;" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>Сумма платежа&nbsp;&nbsp;&nbsp;<% defined $AMOUNT ? $AMOUNT : "_________________" %>&nbsp;руб.&nbsp;00 коп.</td>
                    </tr>
                </tbody>
            </table>
            <table style="margin-top: 3pt; width: 122mm;" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td align="right">&nbsp;&nbsp;«______»________________ 201____ г.</td>
                    </tr>
                </tbody>
            </table>
            <table style="margin-top: 3pt; width: 122mm;" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td><small>С условиями приема указанной в платежном документе суммы, в т.ч. с суммой взимаемой платы за услуги банка, ознакомлен и согласен.</small></td>
                    </tr>
                </tbody>
            </table>
            <table style="margin-top: 3pt; width: 122mm;" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td align="right"><strong>Подпись плательщика _____________________</strong></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>

