<%args>
	$dbh
	$auth
	$dn => undef
	$id => undef	# в таблице b_credit
</%args>
<%init>
use Data::Dumper;
use POSIX;

my ($List2,$sth,$Data,$PData,$Pay,%Err,$OK,$Usr);
my ($House,$Street);
#my $ghpower = GHPower->new($dbh);

if($auth->{gid} ne '1' && $auth->{gid} ne '2') {	# admin или manager
	$r->status_line('');
	$m->clear_buffer;
	$m->abort(404);
}

# Ищем кнопку добавления платежа
foreach(keys %ARGS) {
	if(m/^padd_(\d+)$/) {
		$id = $1;
		last;
	}
}
if($ARGS{cancel}) { undef $id; undef $ARGS{submit}; undef $ARGS{add_fee}; }

# Данные участка
$Usr = $m->comp("lib.msn:get_Domain", dbh=>$dbh, dn=>$dn)	if($dn);

if($ARGS{add_fee} && $dn && $ARGS{submit}) {	# Индивидуальное начисление
	my $bid = $ARGS{new_fee};
	$bid =~ s/\D//g;
	if($bid) {
		$dbh->begin_work;
		$sth = $dbh->prepare("select id,type,amount,edate,sdate from b_tariff where id=?");
		$sth->execute($bid);
		my ($b_id,$b_type,$b_amount,$b_edate,$b_sdate) = $sth->fetchrow_array;
		$sth->finish;
		if($b_id) {	# Есть такой тариф
			my ($S,$amount);
			if($b_type == 1)  { # начисление с площади
				$S = $Usr->{x121address}[0];  # Площадь участка из справочника
				if(defined $S) {
					$amount = $b_amount * $S;
				}
			} else {        # начисление с участка
				$amount = $b_amount;
			}
			if($amount) {
				# 2016-07-30 Татьяна: Округление до целого
				$amount = sprintf("%0.f",$amount);
				my $ins = $dbh->prepare("INSERT INTO b_credit (auth,date,dn,b_tariff_id,amount,debt,memo) VALUES ($auth->{id},now(),?,?,?,?,?)");
				$ins->execute($dn,$bid,$amount,$amount,$ARGS{memo});
#				# Флаг тарифу, если еще не поставлен
#				unless($b_sdate) {
#					  my $upd = $dbh->prepare("UPDATE b_tariff SET sdate=now() WHERE id=?");
#					  $upd->execute($bid);
#				}
				$dbh->commit;
				$OK++;
			}
		}
		$dbh->rollback	unless($OK);
	}
	unless($OK) {
		undef $ARGS{submit};# undef $ARGS{add_fee};
	}
}

if($dn) {	# Имеем дело с одним конкретным юзером
	($House,$Street) = ($dn =~ m/ou\=(\w+)\,ou\=(\w+)/);
	# Начисления
	$sth = $dbh->prepare("SELECT A.id,A.b_tariff_id,B.edate,A.amount AS p_amount,A.status,A.debt,A.memo,A.modtime, B.name,B.amount,B.type,case when A.debt>0 AND now()>B.edate then 1 else 0 end AS flag FROM b_credit A INNER JOIN b_tariff B ON A.b_tariff_id=B.id WHERE A.dn=? ORDER BY B.edate DESC,A.modtime DESC");
	$sth->execute($dn);
	while(my $r = $sth->fetchrow_hashref) {
		push @$Data, $r;
		$Usr->{debt} += $r->{debt};
		$Usr->{debtb} += $r->{debt}	if($r->{flag});
	}
	$sth->finish;
	# Платежи
	$sth = $dbh->prepare("SELECT A.id,A.b_credit_id,A.pdate,A.amount AS p_amount,A.memo,A.modtime,B.name,B.amount,B.type FROM b_pays A INNER JOIN b_credit C ON A.b_credit_id=C.id INNER JOIN b_tariff B ON C.b_tariff_id=B.id WHERE A.dn=? ORDER BY A.modtime DESC");
	$sth->execute($dn);
	while(my $r = $sth->fetchrow_hashref) { push @$PData, $r; }
	$sth->finish;

	if($id) {	# Добавляем платеж по этому начислению
		foreach(@$Data) {
			if($_->{id} == $id) {
				$Pay = $_;
				last;
			}
		}
		if($ARGS{submit} && $ARGS{payment})	{
			my $payment = $ARGS{payment};
			if($payment =~ /^\s*(\d+)[\.\,]*(\d*)$/) {
				$payment = $1.($2 ? ".$2":"");
			} else  {
				$Err{payment}++;
			}
			if($payment > $Pay->{debt}) { $Err{badpayment}++; }
			# Дата платежа
			my $pdate = $m->comp("lib.msn:check_date", date=>$ARGS{pdate});
			$Err{pdate}++	unless($pdate);

			unless(%Err) {
				my $ins = $dbh->prepare("INSERT INTO b_pays (auth,pdate,dn,b_credit_id,amount,memo) VALUES ($auth->{id},?,?,?,?,?)");
				my $upd = $dbh->prepare("UPDATE b_credit SET debt=?,modtime=now() WHERE id=?");

				$dbh->begin_work;
				$ins->execute($pdate,$dn,$id,$payment,$ARGS{memo});
				my $debt = $Pay->{debt} - $payment;
				$debt = 0 if($debt < 0);
				$upd->execute($debt,$id);
				$dbh->commit;
				$OK++;
				# 2018-02-11
				# Триггер рассылки
				my $trigger = $ENV{MY}.'/tmp/ghpower.feed2.trigger';
				system("touch $trigger && chmod 666 $trigger");
			}
		}
	}



} else {	# Полный список
	$List2 = $m->comp("lib.msn:Domains_Struct", dbh=>$dbh, nocache=>0);
	$sth = $dbh->prepare("select (select sum(A.debt) from b_credit A inner join b_tariff B on A.b_tariff_id=B.id where dn=? and B.edate<now() and A.debt>0) as debt, (select max(pdate) from b_pays where dn=?) as pdate");
}
</%init>
%if($OK) {
<div id="resok">
<h3>Запись сохранена</h3>
<p><a href="b_pays.html?dn=<% $dn | u %>" target="_main">закрыть</a></p>
</div>
<script type=text/javascript>
$(document).ready(function() {
%#	$("#resok").fadeOut(1200, function() { document.location = "b_pays.html?dn=<% $dn | u %>"; });
	$("#resok").fadeOut(1200, function() { window.open("b_pays.html?dn=<% $dn | u %>","_parent"); });
});
</script>
%} elsif($ARGS{add_fee} && $dn) {	# Индивидуальное начисление
%#<p><b><%$Street%>, <%$House%></b><br></p>
<form method="POST">
	<div class="form-group">
		<label class="col-sm-2 control-label" for="new_fee">Тариф:</label>
%	# Список тарифов
%	my %b_tariff_type = $m->comp("lib.msn:b_tariff_type");
%	my $sth = $dbh->prepare("select id,name,amount,type,edate from b_tariff A where not exists (select id from b_credit B where B.b_tariff_id=A.id and dn=?) order by edate desc limit 100");
%	$sth->execute($dn);
		<select name="new_fee" class="form-control">
			<option></option>
%	while(my $r = $sth->fetchrow_hashref) {
			<option value="<% $r->{id} %>"><% $r->{name} %>&nbsp;(сумма: <% $m->comp("lib.msn:pretty", value=>$r->{amount}) %> <% $b_tariff_type{$r->{type}} %>; дата: <% $m->comp("lib.msn:pretty_date", date=>$r->{edate}) %>)</option>
%	} $sth->finish;
		</select>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="memo">Примечания:</label>
			<input type="text" name="memo" value="<% $ARGS{memo} %>" class="form-control">
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="">Прим.: Сумма начисления округляется до целого числа.</label>
	</div>

	<input type="submit" name="submit" value="Начислить" style="display: none;">
	<input type="hidden" name="add_fee" value="1">
</form>
<script type="text/javascript">
	function sendform(){
		document.forms[0].submit.click();
	}
</script>

%} elsif($dn) {
%	if($id) {	# Новый платеж
<script src="calendar.js?2" type="text/javascript"></script>
%#<p><b><%$Street%>, <%$House%></b></p>
<form method="POST">
	<h4><% $Pay->{name} %></h4>
	<div class="form-group">
		<label class="control-label" for="pdate" style=color:<% $Err{pdate} ? "red":"black"%>>Дата платежа:</label>
		<input type="text" name="pdate" value="<% $ARGS{pdate} || $m->comp("lib.msn:now")->{pretty} || "dd.mm.yyyy"%>" onfocus="this.select();_Calendar.lcs(this)" onclick="event.cancelBubble=true;this.select();_Calendar.lcs(this)"  class="form-control">
	</div>
	<div class="form-group">
		<label class="control-label" for="payment" style=color:<% ($Err{payment} || $Err{badpayment}) ? "red":"black"%>>Сумма:</label>
		<div class="input-group">
		<span class="input-group-addon">&#8381;</span>
		<input type="text" name="payment" value="<% $ARGS{payment} || $Pay->{debt} %>" class="form-control">
		<span class="input-group-addon">.00</span>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label" for="memo">Примечания:</label>
		<input type="text" name="memo" value="<% $ARGS{memo} || $Pay->{memo} %>" class="form-control">
	</div>
<% $Err{badpayment} ? "<p class=\"error\">Сумма платежа не может превышать суммы долга.</p>":""%>
	<input type="hidden" name="id" value="<%$id%>">
	<input type="submit" name="submit" value="Сохранить" style="display: none;">
</form>
<script type="text/javascript">
	function sendform(){
		document.forms[0].submit.click();
	}
</script>
%	} else {


%# Модальное окно для формы платежа
<div id="PayModal" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header"><button id="mclose" class="close" type="button" data-dismiss="modal">×</button>
				<h4 class="modal-title">&nbsp;</h4>
			</div>
			<div class="modal-body">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe></iframe>
				</div>
			</div>
			<div class="modal-footer">
			<button class="btn btn-default" type="button" data-dismiss="modal">закрыть</button>
			<button class="btn btn-primary" type="submit" onclick="window.frames[0].sendform();">Сохранить</button>
			</div>
		</div>
	</div>
</div>
<script language="javascript">
$('#PayModal').on('show.bs.modal', function (event) { 
	var pay = $(event.relatedTarget);
	var payid = pay.data('content');
	var src = 'b_pays.html?dn=<% $dn | u %>&'+payid;
	$(this).find('iframe').attr("src", src);
});
</script>


%# Модальное окно печати квитанции
<div id="PrintModal" class="modal fade" tabindex="-1">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
%#			<div class="modal-header"><button id="mclose" class="close" type="button" data-dismiss="modal">×</button>
%#				<h4 class="modal-title">&nbsp;</h4>
%#			</div>
			<div class="modal-body">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe></iframe>
				</div>
			</div>
			<div class="modal-footer">
			<button class="btn btn-default" type="button" data-dismiss="modal">закрыть</button>
%#			<button class="btn btn-primary" type="submit" onclick="window.print();">Печатать</button>
			</div>
		</div>
	</div>
</div>
<script language="javascript">
$('#PrintModal').on('show.bs.modal', function (event) { 
	var pay = $(event.relatedTarget);
	var payid = pay.data('content');
	var src = 'b_pay_form_print.html?'+payid+'=';
	$(this).find('iframe').attr("src", src);
	$(this).close();
});
</script>


<div class="masthead">
	<ul class="nav nav-pills pull-left">
		<li class="active"><a href="b_pays.html">Назад в список платежей</a></li>
	</ul>
</div>
<p>&nbsp;<br>&nbsp;</p>
<h3><%$Street%>, <%$House%></h3>
Площадь: <% $Usr->{x121address}[0] %><br>
% my @a; map { push @a, $_->{cn}[0]; } @{$Usr->{owners}};
Владелец: <% join ",", @a %><br>
<nobr>Сумма долга: <% $m->comp("lib.msn:pretty", value=>$Usr->{debt}) %> (просроченный: <% $m->comp("lib.msn:pretty", value=>$Usr->{debtb}) %>)</nobr>
</p>

<form method="POST" name="padd">
<table border="0">
<tr>
<td valign="top">
%my $n = 1;
<h3>Начисления&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" class="btn btn-primary btn-sm" data-content="add_fee=1" data-backdrop="true" data-toggle="modal" data-target="#PayModal"
SSStype="submit" name="add_fee" value="+" title="добавить индивидуальное начисление"></h3>
<table border="1">
<tr>
<th>N</th><th>Дата</th><th>Взнос</th><th>Сумма</th><th>Долг</th><th>Примечания</th><th>Действие</th>
</tr>
%foreach my $cred (@$Data) {
%	my $mark = $cred->{flag} ? "class=redbold":"";
<tr>
<td><%$n%></td>
<td><% $m->comp("lib.msn:pretty_date", date=>$cred->{edate}) %></td>
<td><% $cred->{name} %></td>
<td align="right"><% $m->comp("lib.msn:pretty", value=>$cred->{p_amount}) %></td>
<td align="right"><div <%$mark%>><% $m->comp("lib.msn:pretty", value=>$cred->{debt}) %></div></td>
<td><% $cred->{memo} %></td>
<td><% $cred->{debt} ? "<input type=\"button\" class=\"btn btn-primary btn-xs\" data-content=\"padd_$cred->{id}\" data-backdrop=\"true\" data-toggle=\"modal\" data-target=\"#PayModal\" value=\"платеж\" title=\"добавить платеж\">

<input type=\"button\" class=\"btn btn-primary btn-xs\" data-content=\"print:$cred->{id}\" data-backdrop=\"true\" data-toggle=\"modal\" data-target=\"#PrintModal\" value=\"квит\" title=\"напечатать квитанцию\">":""%></td>
</tr>
%$n++;}
</table>
</td>
<td valign="top">
%my $i = 1;
<h3>Платежи</h3>
<table border="1">
<tr>
<th>N</th><th>Дата</th><th>Взнос</th><th>Сумма</th><th>Примечания</th>
</tr>
%foreach my $pay (@$PData) {
<tr>
<td><%$i%></td>
<td><% $m->comp("lib.msn:pretty_date", date=>$pay->{pdate}) %></td>
<td><% $pay->{name} %></td>
<td align="right"><% $m->comp("lib.msn:pretty", value=>$pay->{p_amount}) %></td>
<td><% $pay->{memo} %></td>
</tr>
%$i++;}
</table>
</td>
</tr>
</table>
</form>


%	}
%} else {	# Полный список
<div class="masthead">
	<ul class="nav nav-pills pull-left">
		<li class="active"><a href="/">Home</a></li>
		<li><a href="b_tariff.html">Тарифы</a></li>
%#		<li><a href="?export=1">Экспорт</a></li>
	</ul>
</div>
%#<hr>
<p>&nbsp;<br>&nbsp;</p>

<h2>Членские и другие взносы</h2>
<table border="1" class="table-condensed" id="fullist">
%my $total2;


%foreach my $street (sort {$List2->{$a}->{ord} <=> $List2->{$b}->{ord}} keys %{$List2}) {

<tr><td colspan="5"><b><br><%$street%></b></td></tr>
<tr><th><i>Участок</i></th><th><i>Владелец</i></th><th><i>Долг</i></th><th><i>Посл.оплата</i></th><th><i>Рассылка</i></th></tr>
<%perl>
	my $localsum = 0;
	my $Dom = $List2->{$street}->{Dom};
	foreach my $house (sort {$a <=> $b || $a cmp $b} keys %{$Dom}) {
		my @owners;
		foreach(@{$Dom->{$house}->{owners}}) {
			push @owners, $_->{sn}[0];
		}
		next	unless(@owners);	# Не показывать, если нет владельца
		my $dn = $Dom->{$house}->{dn};
		# последний платеж
		$sth->execute($dn,$dn);
		my ($p_balance,$p_date) = ($sth->fetchrow_array);
		$sth->finish;
		$localsum += $p_balance;
</%perl>
<tr>
<td align="right"><b><%$house%></b></td>
<td><a href="?dn=<% $dn |u %>"><%join("<br>", @owners) || "-" %></a></td>
<td align="right"><div style=color:<%$p_balance >0 ? "red":"green"%>><% $p_balance ?  $m->comp("lib.msn:pretty", value=>$p_balance) : "0"%></div></td>
<td align="right"><%  $m->comp("lib.msn:pretty_date", date=>$p_date)%></td>
<td align="right"><input type="checkbox" name="<%$dn%>" <% ($Dom->{$house}->{olcaddcontentacl}[0] =~ m/true/i) ? "checked":""%> id="subscr_<% $Dom->{$house}->{uid}[0] %>" disabled></td>
</tr>
%	}
<tr>
<td></td>
<td><b>Всего:</b></td>
<td align="right" colspan="2"><div style=color:<%$localsum >0 ? "red":"green"%>><b><% $localsum ?  $m->comp("lib.msn:pretty", value=>$localsum) : ""%></b></div></td>
<td></td>
</tr>
%	$total2 += $localsum;
%}
</table>
<hr>
<p><nobr><b>Итого:</b>&nbsp;&nbsp;&nbsp;<b><% $total2 ?  $m->comp("lib.msn:pretty", value=>$total2) : "0"%></b></nobr></p>
%}	# Полный список

<%doc>
<script type=text/javascript>
%# Возможность рассылки (есть адрес)
function can_subscribe(par,uid) {
	var cmd = JSON.stringify({ 
							method: 'can_subscribe_dn', 
							version: 1.1,
							params: {id:par}
						});
	 $.ajax({
		data: cmd,
   		success: function(data,status,jqxhr){
			var data = JSON.parse(jqxhr.responseText);
			if(data.result.cansub == 1) {
		   		$("#subscr_"+uid).removeAttr('disabled');
		   	} else {
			   	$("#subscr_"+uid).attr('disabled',true);
		   	}
		}
	});
}
function can_subscribe_all() {
	$("#fullist input").each(function(){
		if(this.id) {
			var id = Number(this.id.replace(/\D+/g,""));
			can_subscribe(this.name,id);
		}
	});
}

%# Планируем запуски
$(document).ready(function() {
	$.ajaxSetup({
		url: "/api/",
		type: "POST",
		dataType: "json",
		cache: false,
		headers: {'Content-type': 'application/json'},
		//   global: false //
	});
	can_subscribe_all();
});
</script>
</%doc>
