<%args>
	$dbh
	$auth
	$id => 0
	$type => 0
</%args>
<%init>
use POSIX;
use Digest::MD5 qw(md5_hex);


if($auth->{gid} ne '1') {	# admin only
	$r->status_line('');
	$m->clear_buffer;
	$m->abort(404);
}

if($ARGS{cancel}) {
	if($id || $ARGS{add_new}) {
		undef $id;
		undef $ARGS{add_new};
		$r->status_line('');
		$m->clear_buffer;
		$m->redirect("?type=$type");
	} else {
		$r->status_line('');
		$m->clear_buffer;
		$m->abort(200);
	}
}

$id =~ s/\D//g;

#use Data::Dumper;
#$m->out("<pre>".(Dumper %ARGS)."</pre>");

my ($Usr, $List, @Fields);
my %Err;
my $sth;
my ($OK, $FORM_NEW, $FORM_EDIT, $Title, $MODAL, $SCRIPT);

if($type == 1) {	# Доступ
	@Fields = ('Имя','Email','Логин','Группа');
	$Title = 'Доступ в систему';
	my $Grp = $m->comp("lib.msn:listload", dbh=>$dbh, name=>'auth_grp');
	if($ARGS{submit}) {
		if($ARGS{drop}) {
			$sth = $dbh->prepare("UPDATE auth SET active=0 WHERE id=?");
			$sth->execute($id);
			undef $ARGS{drop};
			undef $id;
		} else {
			my $cname = substr($ARGS{cname},0,80);
			$Err{cname}++	unless($cname);
			my $gid;
			foreach(keys %{$Grp}) { $gid = $_	if($_ eq $ARGS{gid}); }
			$Err{gid}++	unless($gid);
			my $login = substr($ARGS{login},0,80);
			$Err{login}++	unless($login);
			my $email = substr($ARGS{email},0,80);
			my $cpass;
			if($ARGS{add_new} || $ARGS{password}) {
				if($ARGS{password}) {
					# Генерация хеша пароля
					my @saltair = ('A'..'Z', 'a'..'z', '0'..'9');
					my $salt = join("", @saltair[map{rand @saltair} (1..8)]);
					$cpass = crypt($ARGS{password},"\$1\$$salt\$");
				} else {
					$Err{password}++	if($ARGS{add_new});
				}
			}
			unless(%Err) {
				if($id) {
					if($cpass) {
						$sth = $dbh->prepare("UPDATE auth SET name=?, login=?, password=?, email=?, gid=?, memo=?, auth=?, modtime=now() WHERE id=?");
						$sth->execute($cname,$login,$cpass,$email,$gid,$ARGS{memo},$auth->{id},$id);
					} else {
						$sth = $dbh->prepare("UPDATE auth SET name=?, login=?, email=?, gid=?, memo=?, auth=?, modtime=now() WHERE id=?");
						$sth->execute($cname,$login,$email,$gid,$ARGS{memo},$auth->{id},$id);
					}
					undef $id;
					$OK++;
				} else {	# Новая запись
					$sth = $dbh->prepare("SELECT id FROM auth WHERE name=? AND login=? AND email=? AND gid=?");
					$sth->execute($cname,$login,$email,$gid);
					my ($oid) = $sth->fetchrow_array;
					$sth->finish;
					unless($oid) {
						$sth = $dbh->prepare("SELECT id FROM auth WHERE login=? AND active=1 LIMIT 1");
						$sth->execute($login);
						my ($xoid) = $sth->fetchrow_array;
						$sth->finish;
						if($xoid) {	# Неуникальный логин
							$Err{login}++;
						} else {
							$sth = $dbh->prepare("INSERT INTO auth (name,login,password,email,gid,memo,auth,active) VALUES (?,?,?,?,?,?,?,1)");
							$sth->execute($cname,$login,$cpass,$email,$gid,$ARGS{memo},$auth->{id});
							undef $ARGS{add_new};
							$OK++;
						}
					}
				}
			}
		}
	} else {
		if($id) {	# Редактирование записи
			$sth = $dbh->prepare("SELECT name,login,email,gid,memo FROM auth WHERE id=? LIMIT 1");
			$sth->execute($id);
			($Usr->{cname}, $Usr->{login}, $Usr->{email}, $Usr->{gid}, $Usr->{memo}) = $sth->fetchrow_array;
			$sth->finish;
		}
	}
	$FORM_NEW = '<tr>
		<td><div style=color:'.($Err{cname} ? "red":"black").'>Имя:</div></td>
		<td><input type="text" name="cname" value="'.($ARGS{cname} || $Usr->{cname} || '').'" class="input-xlarge"></td>
	</tr>
	<tr>
		<td><div style=color:'.($Err{email} ? "red":"black").'>Email:</div></td>
		<td><input type="text" name="email" value="'.($ARGS{email} || $Usr->{email} || '').'" class="input-xlarge"></td>
	</tr>
	<tr>
		<td><div style=color:'.($Err{gid} ? "red":"black").'>Группа:</div></td>
		<td><select id="gid" name="gid">
			<option></option>';
			foreach(sort keys %{$Grp}) {
				$FORM_NEW .= '<option'.(($_ eq $ARGS{gid} || $_ eq $Usr->{gid})? " selected":"").'  value="'.$_.'">'.$Grp->{$_}->{name}.'</option>';
			}
			$FORM_NEW .= '</select>
		</td>
	</tr>
	<tr>
		<td><div style=color:'.($Err{login} ? "red":"black").'>Логин:</div></td>
		<td><input type="text" name="login" value="'.($ARGS{login} || $Usr->{login} || '').'" class="input-xlarge"></td>
	</tr>
	<tr>
		<td><div style=color:'.($Err{password} ? "red":"black").'>Пароль:</div></td>
		<td><input type="password" name="password" value="'.($ARGS{password} || $Usr->{password} || '').'" class="input-xlarge"></td>
	</tr>
	<tr>
		<td>Комментарий:</td>
		<td><textarea name="memo" cols="30" rows="2">'.($ARGS{memo} || $Usr->{memo} || '').'</textarea></td>
		</td>
	</tr>';
	$FORM_EDIT = $FORM_NEW;

	$sth = $dbh->prepare("SELECT A.id,A.name,A.login,A.email,B.name AS gname FROM auth A INNER JOIN auth_grp B ON A.gid=B.id WHERE A.active=1 ORDER BY A.name");
	$sth->execute();
	while(my $r = $sth->fetchrow_hashref) {
		my @a = ('<a href="?type='.$type.'&id='.$r->{id}.'">'.$r->{name}.'</a>', $r->{email}, $r->{login}, $r->{gname});
		push @$List, \@a;
	}
}
elsif($type == 2) {	# Типы счетчиков
	@Fields = ('Название', 'Тип');
	$Title = 'Типы счетчиков';
	my @Types = ('M230','M203');
	if($ARGS{submit}) {
		if($ARGS{drop}) {
			$sth = $dbh->prepare("DELETE FROM counter_type WHERE id=?");
			$sth->execute($id);
			undef $ARGS{drop};
			undef $id;
		} else {
			my $cname = substr($ARGS{cname},0,80);
			my $ctype;
			foreach(@Types) { $ctype = $_	if($_ eq $ARGS{ctype}); }
			$Err{cname}++	unless($cname);
			$Err{ctype}++	unless($ctype);
			unless(%Err) {
				if($id) {
					$sth = $dbh->prepare("UPDATE counter_type SET name=?, type=?, auth=?, modtime=now() WHERE id=?");
					$sth->execute($cname, $ctype, $auth->{id}, $id);
					undef $id;
					$OK++;
				} else {
					$sth = $dbh->prepare("INSERT INTO counter_type (name,type,auth) VALUES (?,?,?)");
					$sth->execute($cname, $ctype, $auth->{id});
					undef $ARGS{add_new};
					$OK++;
				}
			}
		}
	} else {
		if($id) {	# Редактирование записи
			$sth = $dbh->prepare("SELECT name, type FROM counter_type WHERE id=? LIMIT 1");
			$sth->execute($id);
			($Usr->{cname}, $Usr->{ctype}) = $sth->fetchrow_array;
			$sth->finish;
		}
	}
	$FORM_NEW = '<tr>
		<td><div style=color:'.($Err{cname} ? "red":"black").'>Название:</div></td>
		<td><input type="text" name="cname" value="'.($ARGS{cname} || $Usr->{cname} || '').'" class="input-xlarge"></td>
	</tr>
	<tr>
		<td><div style=color:'.($Err{ctype} ? "red":"black").'>Тип:</div></td>
		<td><select id="ctype" name="ctype">
			<option></option>';
			foreach(@Types) {
				$FORM_NEW .= '<option'.(($_ eq $ARGS{ctype} || $_ eq $Usr->{ctype})? " selected":"").'>'.$_.'</option>';
			}
			$FORM_NEW .= '</select>
		</td>
	</tr>';
	$FORM_EDIT = $FORM_NEW;

	$sth = $dbh->prepare("SELECT id,name,type FROM counter_type ORDER BY name");
	$sth->execute();
	while(my $r = $sth->fetchrow_hashref) {
		my @a = ('<a href="?type='.$type.'&id='.$r->{id}.'">'.$r->{name}.'</a>', $r->{type});
		push @$List, \@a;
	}
}
elsif($type == 3) {	# Столбы

	@Fields = ('Название', 'Тип', 'Фонарь', 'Дата установки', 'Описание');
	$Title = 'Столбы';
	my @Types = ('Дер.','Ж/б','Мет.');
	if($ARGS{submit}) {
		if($ARGS{drop}) {
			$sth = $dbh->prepare("DELETE FROM towers WHERE id=?");
			$sth->execute($id);
			undef $ARGS{drop};
			undef $id;
		} else {
			my $cname = substr($ARGS{cname},0,80);
			my $ctype;
			foreach(@Types) { $ctype = $_	if($_ eq $ARGS{ctype}); }
			$Err{cname}++	unless($cname);
			$Err{ctype}++	unless($ctype);
			my $setdate = '';
			if($ARGS{setdate} =~ /(\d{1,2})[\-\.](\d{1,2})[\-\.](\d{4})/) {
				$setdate = sprintf("%d-%02d-%02d",$3,$2,$1);
			} else {
				$Err{setdate}++	if($ARGS{setdate});
			}
			my $lamp = $ARGS{lamp} eq 'on' ? 1:0;
			unless(%Err) {
				if($id) {
					$sth = $dbh->prepare("UPDATE towers SET name=?, type=?, setdate=".($setdate ? "?":"null").", memo=?, lamp=?, auth=?, modtime=now() WHERE id=?");
					if($setdate) {
						$sth->execute($cname, $ctype, $setdate, $ARGS{memo}, $lamp, $auth->{id}, $id);
					} else {
						$sth->execute($cname, $ctype, $ARGS{memo}, $lamp, $auth->{id}, $id);
					}
					undef $id;
					$OK++;
				} else {
					$sth = $dbh->prepare("SELECT id FROM towers WHERE name=? AND type=? ".($setdate ? "AND setdate=?":"" )." AND memo=?");
					if($setdate) {
						$sth->execute($cname, $ctype, $setdate, $ARGS{memo});
					} else {
						$sth->execute($cname, $ctype, $ARGS{memo});
					}
					my ($oid) = $sth->fetchrow_array;
					$sth->finish;
					unless($oid) {
						$sth = $dbh->prepare("INSERT INTO towers (name,type,".($setdate ? "setdate,":"")."memo,lamp,auth) VALUES (?,?,".($setdate ? "?,":"")."?,?,?)");
						if($setdate) {
							$sth->execute($cname, $ctype, $setdate, $ARGS{memo}, $lamp, $auth->{id});
						} else {
							$sth->execute($cname, $ctype, $ARGS{memo}, $lamp, $auth->{id});
						}
					}
					undef $ARGS{add_new};
					$OK++;
				}
			}
		}
	} else {
		if($id) {	# Редактирование записи
			$sth = $dbh->prepare("SELECT name, type, memo, setdate, lamp FROM towers WHERE id=? LIMIT 1");
			$sth->execute($id);
			($Usr->{cname}, $Usr->{ctype}, $Usr->{memo}, $Usr->{setdate}, $Usr->{lamp}) = $sth->fetchrow_array;
			$sth->finish;
		}
	}
	$FORM_NEW = '<tr>
		<td><div style=color:'.($Err{cname} ? "red":"black").'>Название:</div></td>
		<td><input type="text" name="cname" value="'.($ARGS{cname} || $Usr->{cname} || '').'" class="input-xlarge"></td>
	</tr>
	<tr>
		<td><div style=color:'.($Err{ctype} ? "red":"black").'>Тип:</div></td>
		<td><select id="ctype" name="ctype">
			<option></option>';
			foreach(@Types) {
				$FORM_NEW .= '<option'.(($_ eq $ARGS{ctype} || $_ eq $Usr->{ctype})? " selected":"").'>'.$_.'</option>';
			}
			$FORM_NEW .= '</select>
		</td>
	</tr>
	<tr>
		<td><div style=color:'.($Err{lamp} ? "red":"black").'> Фонарь:</div></td>
		<td><input type="checkbox" name="lamp" '.($ARGS{submit} ? ($ARGS{lamp} eq 'on' ? 'checked':'') : $Usr->{lamp} ? 'checked' : '').'></td>
	</tr>
	<tr>
		<td><div style=color:'.($Err{setdate} ? "red":"black").'>Дата установки:</div></td>
		<td><input type="text" name="setdate" value="'.($ARGS{setdate} || $m->comp("lib.msn:pretty_date",date=>$Usr->{setdate}) || '').'" class="input-xlarge" onfocus="this.select();_Calendar.lcs(this)" onclick="event.cancelBubble=true;this.select();_Calendar.lcs(this)" placeholder="dd.mm.yyyy"></td>
		</td>
	</tr>
	<tr>
		<td>Описание:</td>
		<td><textarea name="memo" cols="30" rows="2">'.($ARGS{memo} || $Usr->{memo} || '').'</textarea></td>
		</td>
	</tr>';
	$FORM_EDIT = $FORM_NEW;

	$sth = $dbh->prepare("SELECT id,name,memo,setdate,type,lamp FROM towers ORDER BY name");
	$sth->execute();
	while(my $r = $sth->fetchrow_hashref) {
		my @a = ('<a href="?type='.$type.'&id='.$r->{id}.'">'.$r->{name}.'</a>', $r->{type}, '<div align="center">'.($r->{lamp} ? '+':'-').'</div>', '<div align="right">'.$m->comp("lib.msn:pretty_date", date=>$r->{setdate}).'</div>', $r->{memo});
		push @$List, \@a;
	}
}
elsif($type == 4) {	# Проезды (улицы)
	@Fields = ('Название','Обозначение','Порядок');

	$Title = 'Проезды';
	if($ARGS{submit}) {
		if($ARGS{drop}) {
			$sth = $dbh->prepare("DELETE FROM street WHERE id=?");
			$sth->execute($id);
			undef $ARGS{drop};
			undef $id;
		} else {
			my $cname = substr($ARGS{cname},0,100);
			my $sname = substr($ARGS{sname},0,100);
			my $ord = $ARGS{ord}; $ord =~ s/\D//g; $ord = substr($ord,0,9); $ord ||= 0;
			$Err{cname}++	unless($cname);
			unless(%Err) {
				if($id) {
					$sth = $dbh->prepare("UPDATE street SET name=?, sname=?, ord=?, auth=?, modtime=now() WHERE id=?");
					$sth->execute($cname, $sname, $ord, $auth->{id}, $id);
					undef $id;
					$OK++;
				} else {
					$sth = $dbh->prepare("SELECT id FROM street WHERE name=? AND sname=? AND ord=? AND auth=?");
					$sth->execute($cname, $sname, $ord, $auth->{id});
					my ($oid) = $sth->fetchrow_array;
					$sth->finish;
					unless($oid) {
						$sth = $dbh->prepare("INSERT INTO street (name,sname,ord,auth) VALUES (?,?,?,?)");
						$sth->execute($cname, $sname, $ord, $auth->{id});
					}
					undef $ARGS{add_new};
					$OK++;
				}
			}
		}
	} else {
		if($id) {	# Редактирование записи
			$sth = $dbh->prepare("SELECT name, sname, ord FROM street WHERE id=? LIMIT 1");
			$sth->execute($id);
			($Usr->{cname}, $Usr->{sname},$Usr->{ord}) = $sth->fetchrow_array;
			$sth->finish;
		}
	}
	$FORM_NEW = '<tr>
		<td><div style=color:'.($Err{cname} ? "red":"black").'>Название:</div></td>
		<td><input type="text" name="cname" value="'.($ARGS{cname} || $Usr->{cname} || '').'" class="input-xlarge"></td>
	</tr>
	<tr>
		<td><div style=color:'.($Err{ctype} ? "red":"black").'>Обозначение:</div></td>
		<td><input type="text" name="sname" value="'.($ARGS{sname} || $Usr->{sname} || '').'" class="input-xlarge"></td>
	</tr>
	<tr>
		<td><div style=color:'.($Err{ctype} ? "red":"black").'>Порядок сортировки:</div></td>
		<td><input type="text" name="ord" value="'.($ARGS{ord} || $Usr->{ord} || '').'" class="input-xlarge"></td>
	</tr>';
	$FORM_EDIT = $FORM_NEW;

	$sth = $dbh->prepare("SELECT id,name,sname,ord FROM street ORDER BY ord, name");
	$sth->execute();
	while(my $r = $sth->fetchrow_hashref) {
		my @a = ('<a href="?type='.$type.'&id='.$r->{id}.'">'.$r->{name}.'</a>', $r->{sname}, '<div align="right">'.$r->{ord}.'</div>');
		push @$List, \@a;
	}
}

elsif($type == 5) {	# Участки
	@Fields = ('Проезд','Участок','Площадь');
	$Title = 'Участки';

my (@phone, @email);


	my (@owner, @manager);
	my $Streets = $m->comp("lib.msn:Street_list", dbh=>$dbh);
	my $Person = $m->comp("lib.msn:Person_list", dbh=>$dbh);

	if($ARGS{submit}) {
		if($ARGS{drop}) {
			$sth = $dbh->prepare("UPDATE parcels SET active=0 WHERE id=?");
			$sth->execute($id);
			undef $ARGS{drop};
			undef $id;
			$OK++;
		} else {
			my $number = substr($ARGS{number},0,100);
			$Err{number}++	unless($number);
			my $street_id = $ARGS{street_id};
			$street_id =~ s/\D//g;
			$street_id ||= 0;
			my $square = $ARGS{square};
			$square =~ s/[^\d\.\,]//g;
			$square =~ s/\,/\./;
			$square = sprintf("%.2f", $square);

#			my $mname = substr($ARGS{mname},0,100);
#			my $lname = substr($ARGS{lname},0,100);
#			my $nicname = substr($ARGS{nicname},0,100);
#			my $birthdate = '';
#			if($ARGS{birthdate} =~ /(\d{1,2})[\-\.](\d{1,2})[\-\.](\d{4})/) {
#				$birthdate = sprintf("%d-%02d-%02d",$3,$2,$1);
#			} else {
#				$Err{birthdate}++	if($ARGS{birthdate});
#			}
			(@owner) = $m->{cgi_object}->param('owner');
			map { $_ =~ s/\D//g; } @owner;
			map { $_ =~ int($_); } @owner;
			(@manager) = $m->{cgi_object}->param('manager');
			map { $_ =~ s/\D//g; } @manager;

			unless(%Err) {
				my @ow_ph; map { push @ow_ph,'?::integer'; } @owner;
				my @mg_ph; map { push @mg_ph,'?::integer'; } @manager;
				if($id) {
					$sth = $dbh->prepare("UPDATE parcels SET street_id=?,number=?,square=?,owner=ARRAY[".join(",",@ow_ph)."],manager=ARRAY[".join(",",@mg_ph)."],maillist=?,memo=?,active=1, auth=?, modtime=now() WHERE id=?");
					$sth->execute($street_id,$number,$square,@owner,@manager,$ARGS{maillist}?'true':'false',$ARGS{memo}, $auth->{id}, $id);
#					undef $id;
#					$OK++;
				} else {
#					$sth = $dbh->prepare("SELECT id FROM persons WHERE fname=? AND mname=? AND lname=? AND auth=?");
#					$sth->execute($fname, $mname, $lname, $auth->{id});
#					my ($oid) = $sth->fetchrow_array;
#					$sth->finish;
#					unless($oid) {
#						$sth = $dbh->prepare("INSERT INTO persons (fname,mname,lname,nicname,".($birthdate ? "birthdate,":"")."email,phone,memo,active,auth) VALUES (?,?,?,?,".($birthdate ? "?,":"")."ARRAY[".join(",",@em_ph)."],ARRAY[".join(",",@ph_ph)."],?,1,?)");
#						if($birthdate) {
#							$sth->execute($fname,$mname,$lname,$nicname,$birthdate,@email,@phone,$ARGS{memo},$auth->{id});
#						} else {
#							$sth->execute($fname,$mname,$lname,$nicname,@email,@phone,$ARGS{memo},$auth->{id});
#						}
#					}
#					undef $ARGS{add_new};
#					$OK++;
				}
			}
		}
	} else {
		if($id) {	# Редактирование записи
			$sth = $dbh->prepare("SELECT id,street_id,number,square,owner,manager,maillist,memo,auth,modtime FROM parcels WHERE id=? LIMIT 1");
			$sth->execute($id);
			$Usr = $sth->fetchrow_hashref;
			$sth->finish;
		}
	}
	$FORM_NEW = '<tr>
		<td><div style=color:'.($Err{street_id} ? "red":"black").'>Проезд:</div></td>
		<td><select id="street_id" name="street_id">
			<option></option>';
			foreach(sort {$Streets->{$a}->{ord} <=> $Streets->{$b}->{ord}} keys %{$Streets}) {
				$FORM_NEW .= '<option'.(($_ eq $ARGS{street_id} || $_ eq $Usr->{street_id})? " selected":"").' value="'.$_.'">'.$Streets->{$_}->{name}.'</option>';
			}
			$FORM_NEW .= '</select>
		</td>
	</tr>
	<tr>
		<td><div style=color:'.($Err{number} ? "red":"black").'>Номер участка:</div></td>
		<td><input type="text" name="number" value="'.($ARGS{number} || $Usr->{number} || '').'" class="input-xlarge"></td>
	</tr>
	<tr>
		<td><div style=color:'.($Err{square} ? "red":"black").'>Площадь:</div></td>
		<td><input type="text" name="square" value="'.($ARGS{square} || $Usr->{square} || '').'" class="input-xlarge"></td>
	</tr>
	<tr>
		<td><div style=color:'.($Err{owner} ? "red":"black").'><input type="button" class="btn btn-primary btn-xs" data-content="padd_$cred->{id}" data-backdrop="true" data-toggle="modal" data-target="#OptModal" value="+" title="добавить владельца">&nbsp;&nbsp;Владелец:</div></td>
		<td><div id="ow">';
#	my $i = 0;
	$FORM_NEW .= '<select multiple="yes" size="'.(@owner ? (scalar @owner) : (ref $Usr->{owner} eq 'ARRAY' ? scalar @{$Usr->{owner}} : 1)).'" id="owner" name="owner">';
	foreach(@owner ? @owner : (ref $Usr->{owner} eq 'ARRAY' ? @{$Usr->{owner}} : $Usr->{owner})) {
#		$FORM_NEW .= '<br>'	if($i);
#		$i++;
#		$FORM_NEW .= '<input disabled multiple="yes" type="text" name="owner" value="'.$Person->{$_}->{lname}.' '.$Person->{$_}->{fname}.' '.$Person->{$_}->{mname}.'" class="input-xlarge"><input type="button" value="E">';
		$FORM_NEW .= '<option selected value="'.$_.'">'.$Person->{$_}->{lname}.' '.$Person->{$_}->{fname}.' '.$Person->{$_}->{mname}.'</option>';
	}
	$FORM_NEW .= '</select>';
#	$FORM_NEW .= '<input type=button value="+" title="Добавить поле" onclick=add_owner()>';
	$FORM_NEW .= '</div></td>
	<tr>
		<td><div style=color:'.($Err{manager} ? "red":"black").'><input type="button" class="btn btn-primary btn-xs" id="XXXXXXX" data-content="'.$Usr->{manager}.'" data-backdrop="true" data-toggle="modal" data-target="#OptModal" value="+" title="добавить представителя">&nbsp;&nbsp;Представитель:</div></td>
		<td><div id="mg">';
#	$i = 0;
#	$FORM_NEW .= '<select multiple="yes" size="'.(@manager ? (scalar @manager) : ( ref $Usr->{manager} eq 'ARRAY' ? scalar @{$Usr->{manager}}:1)).'" id="manager" name="manager">';
	my $c_mg = '<select multiple="yes" hidden id="manager" name="manager">';
	foreach(@manager ? @manager : (ref $Usr->{manager} eq 'ARRAY' ? @{$Usr->{manager}} : $Usr->{manager})) {
		$FORM_NEW .= ''.$Person->{$_}->{lname}.' '.$Person->{$_}->{fname}.' '.$Person->{$_}->{mname}.'<br>';
		$c_mg .= '<option selected value="'.$_.'">'.$Person->{$_}->{lname}.' '.$Person->{$_}->{fname}.' '.$Person->{$_}->{mname}.'</option>';
	}
	$c_mg .= '</select>';
	$FORM_NEW .= $c_mg;

#	$FORM_NEW .= '<input type=button value="+" title="Добавить поле" onclick=add_manager()>';
#	$FORM_NEW .= '&nbsp;&nbsp;<input type="button" class="btn btn-primary btn-xs" data-content="padd_$cred->{id}" data-backdrop="true" data-toggle="modal" data-target="#OptModal" value="+" title="добавить представителя" onclick="showmodal()">';


	$FORM_NEW .= '</div></td>
	</tr>

	<tr>
		<td>Рассылка:</td>
		<td><input type="checkbox" name="maillist" '.(($ARGS{maillist} || $Usr->{maillist})? 'checked':'').' ></td>
	</tr>
	<tr>
		<td>Примечания:</td>
		<td><textarea name="memo" cols="30" rows="2">'.($ARGS{memo} || $Usr->{memo} || '').'</textarea></td>
		</td>
	</tr>';
	$FORM_EDIT = $FORM_NEW;


#	function showmodal() {
#		var modalWin = document.getElementById(\'popupWin\');
#		modalWin.style.display = \'block\';
#	}

$SCRIPT = '
$(\'#OptModal\').on(\'show.bs.modal\', function(e) {
	var content = e.relatedTarget.dataset.content;
	var $modal = $(this),
	esseyId = e.relatedTarget.id;
	alert(content);
	$modal.find(\'.edit-content\').html(esseyId);
});
';

#	function sendform() {
#		alert(\'3\');
#	}

#	$m->out('<script type=text/javascript>'.$script.'</script>');


	# Диалоговое окно поиска по списку персон
	$MODAL .= '<select multiple="yes" size="20" id="manager" name="manager">';
	foreach my $mid (sort {$Person->{$a}->{lname} cmp $Person->{$b}->{lname}} keys %{$Person}) {
		$MODAL .= '<option value="'.$mid.'"';
#		foreach(@manager ? @manager : (ref $Usr->{manager} eq 'ARRAY' ? @{$Usr->{manager}} : $Usr->{manager})) {
#			$MODAL .= ' selected ' 	if($_ == $mid);
#		}
		$MODAL .= '>'.$Person->{$mid}->{lname}.' '.$Person->{$mid}->{fname}.' '.$Person->{$mid}->{mname}.'</option>';
	}
	$MODAL .= '</select>';


#	foreach(@manager ? @manager : (ref $Usr->{manager} eq 'ARRAY' ? @{$Usr->{manager}} : $Usr->{manager})) {
#		$FORM_NEW .= '<input multiple="yes" type="text" name="manager" value="'.$Person->{$_}->{lname}.' '.$Person->{$_}->{fname}.' '.$Person->{$_}->{mname}.'" class="input-xlarge">';
#		$FORM_NEW .= '<option selected value="'.$_.'">'.$Person->{$_}->{lname}.' '.$Person->{$_}->{fname}.' '.$Person->{$_}->{mname}.'</option>';
#	}







#	function add_owner() {
#	 document.getElementById("ow").innerHTML+="<br><input type=text id=\"owner\" name=\"owner\">";
#	}
#	function add_manager() {
#	 document.getElementById("mg").innerHTML+="<br><input type=text id=\"manager\" name=\"manager\">";
#	}
#	</script>');

	$sth = $dbh->prepare("SELECT A.id AS id,B.name AS street,A.number AS number,A.square AS square FROM parcels A INNER JOIN street B ON A.street_id=B.id WHERE A.active=1 ORDER BY B.ord,B.name,A.number");
	$sth->execute();
	while(my $r = $sth->fetchrow_hashref) {
		my @a = ($r->{street},'<a href="?type='.$type.'&id='.$r->{id}.'"><div class="pull-right">'.($r->{number} || '-').'</div></a>', '<div class="pull-right">'.$r->{square}.'</div>');
		push @$List, \@a;
	}
}

elsif($type == 6) {	# Персоны
	@Fields = ('Фамилия','Имя','Отчество');
	$Title = 'Персоны';
	my (@phone, @email);
	if($ARGS{submit}) {
		if($ARGS{drop}) {
			$sth = $dbh->prepare("UPDATE persons SET active=0 WHERE id=?");
			$sth->execute($id);
			undef $ARGS{drop};
			undef $id;
			$OK++;
		} else {
			my $fname = substr($ARGS{fname},0,100);
			my $mname = substr($ARGS{mname},0,100);
			my $lname = substr($ARGS{lname},0,100);
			my $nicname = substr($ARGS{nicname},0,100);
			my $birthdate = '';
			if($ARGS{birthdate} =~ /(\d{1,2})[\-\.](\d{1,2})[\-\.](\d{4})/) {
				$birthdate = sprintf("%d-%02d-%02d",$3,$2,$1);
			} else {
				$Err{birthdate}++	if($ARGS{birthdate});
			}
			(@phone) = $m->{cgi_object}->param('phone');
			map { $_ =~ s/[^\d\(\)\-\+]//g; } @phone;
			(@email) = $m->{cgi_object}->param('email');
			map { $_ =~ s/[^a-zA-Z\d\_\@\.\-]//g; } @email;

			$Err{lname}++	unless($lname);
			unless(%Err) {
				my @em_ph; map { push @em_ph,'?'; } @email;
				my @ph_ph; map { push @ph_ph,'?'; } @phone;
				if($id) {
					$sth = $dbh->prepare("UPDATE persons SET fname=?,mname=?,lname=?,nicname=?,".($birthdate ? "birthdate=?,":"")."email=ARRAY[".join(",",@em_ph)."],phone=ARRAY[".join(",",@ph_ph)."],memo=?,active=1, auth=?, modtime=now() WHERE id=?");
					if($birthdate) {
						$sth->execute($fname,$mname,$lname,$nicname,$birthdate,@email,@phone,$ARGS{memo}, $auth->{id}, $id);
					} else {
						$sth->execute($fname,$mname,$lname,$nicname,@email,@phone,$ARGS{memo}, $auth->{id}, $id);
					}
					undef $id;
					$OK++;
				} else {
					$sth = $dbh->prepare("SELECT id FROM persons WHERE fname=? AND mname=? AND lname=? AND auth=?");
					$sth->execute($fname, $mname, $lname, $auth->{id});
					my ($oid) = $sth->fetchrow_array;
					$sth->finish;
					unless($oid) {
						$sth = $dbh->prepare("INSERT INTO persons (fname,mname,lname,nicname,".($birthdate ? "birthdate,":"")."email,phone,memo,active,auth) VALUES (?,?,?,?,".($birthdate ? "?,":"")."ARRAY[".join(",",@em_ph)."],ARRAY[".join(",",@ph_ph)."],?,1,?)");
						if($birthdate) {
							$sth->execute($fname,$mname,$lname,$nicname,$birthdate,@email,@phone,$ARGS{memo},$auth->{id});
						} else {
							$sth->execute($fname,$mname,$lname,$nicname,@email,@phone,$ARGS{memo},$auth->{id});
						}
					}
					undef $ARGS{add_new};
					$OK++;
				}
			}
		}
	} else {
		if($id) {	# Редактирование записи
			$sth = $dbh->prepare("SELECT id,fname,mname,lname,nicname,birthdate,email,phone,memo,modtime FROM persons WHERE id=? LIMIT 1");
			$sth->execute($id);
			$Usr = $sth->fetchrow_hashref;
			$sth->finish;
		}
	}
	$FORM_NEW = '<tr>
		<td><div style=color:'.($Err{fname} ? "red":"black").'>Имя:</div></td>
		<td><input type="text" name="fname" value="'.($ARGS{fname} || $Usr->{fname} || '').'" class="input-xlarge"></td>
	</tr>
	<tr>
		<td><div style=color:'.($Err{mname} ? "red":"black").'>Отчество:</div></td>
		<td><input type="text" name="mname" value="'.($ARGS{mname} || $Usr->{mname} || '').'" class="input-xlarge"></td>
	</tr>
	<tr>
		<td><div style=color:'.($Err{lname} ? "red":"black").'>Фамилия:</div></td>
		<td><input type="text" name="lname" value="'.($ARGS{lname} || $Usr->{lname} || '').'" class="input-xlarge"></td>
	</tr>
	<tr>
		<td><div style=color:'.($Err{nicname} ? "red":"black").'>Ник:</div></td>
		<td><input type="text" name="nicname" value="'.($ARGS{nicname} || $Usr->{nicname} || '').'" class="input-xlarge"></td>
	</tr>
	<tr>
		<td><div style=color:'.($Err{birthdate} ? "red":"black").'>Дата рождения:</div></td>
		<td><input type="text" name="birthdate" value="'.($ARGS{birthdate} || $m->comp("lib.msn:pretty_date",date=>$Usr->{birthdate}) || '').'" class="input-xlarge" onfocus="this.select();_Calendar.lcs(this)" onclick="event.cancelBubble=true;this.select();_Calendar.lcs(this)" placeholder="dd.mm.yyyy"></td>
		</td>
	</tr>
	<tr>
		<td><div style=color:'.($Err{phone} ? "red":"black").'>Телефон:</div></td>
		<td><div id="ph">';
	my $i = 0;
	foreach(@phone ? @phone : (ref $Usr->{phone} eq 'ARRAY' ? @{$Usr->{phone}} : $Usr->{phone})) {
		$FORM_NEW .= '<br>'	if($i);
		$i++;
		$FORM_NEW .= '<input multiple="yes" type="text" name="phone" value="'.$_.'" class="input-xlarge">';
	}
	$FORM_NEW .= '<input type=button value="+" title="Добавить поле" onclick=add_phone()>';
	$FORM_NEW .= '</div></td>
	<tr>
		<td><div style=color:'.($Err{email} ? "red":"black").'>Email:</div></td>
		<td><div id="em">';
	$i = 0;
	foreach(@email ? @email : (ref $Usr->{email} eq 'ARRAY' ? @{$Usr->{email}} : $Usr->{email})) {
		$FORM_NEW .= '<br>'	if($i);
		$i++;
		$FORM_NEW .= '<input multiple="yes" type="text" name="email" value="'.$_.'" class="input-xlarge">';
	}
	$FORM_NEW .= '<input type=button value="+" title="Добавить поле" onclick=add_email()>';
	$FORM_NEW .= '</div></td>
	</tr>
	<tr>
		<td>Примечания:</td>
		<td><textarea name="memo" cols="30" rows="2">'.($ARGS{memo} || $Usr->{memo} || '').'</textarea></td>
		</td>
	</tr>';
	$FORM_EDIT = $FORM_NEW;

	$m->out('<script type=text/javascript>
	function add_phone() {
	 document.getElementById("ph").innerHTML+="<br><input type=text id=\"phone\" name=\"phone\">";
	}
	function add_email() {
	 document.getElementById("em").innerHTML+="<br><input type=text id=\"email\" name=\"email\">";
	}
	</script>');

	$sth = $dbh->prepare("SELECT id,fname,mname,lname FROM persons WHERE active=1 ORDER BY lname, fname");
	$sth->execute();
	while(my $r = $sth->fetchrow_hashref) {
		my @a = ('<a href="?type='.$type.'&id='.$r->{id}.'">'.($r->{lname} || '-').'</a>', $r->{fname}, $r->{mname});
		push @$List, \@a;
	}
}
else {
	
}



</%init>
<script src="calendar.js" type="text/javascript"></script>
<ul class="breadcrumb">
	<li><a href="/">Home</a> <span class="divider">/</span></li>
%	if($type) {
	<li><a href="config.html">Конфигурация</a> <span class="divider">/</span></li>
	<li class="active"><% $Title %><span class="divider">/</span></li>
%	} else {
	<li class="active">Конфигурация<span class="divider">/</span></li>
%	}
</ul>
%if($OK) {
<h3 id="resok">Запись сохранена</h3>
<p><a href="?type=$type">back</a></p>
<script type=text/javascript>
$(document).ready(function() {
	$("#resok").fadeOut(1200, function() {document.location = "?type=<%$type%>"; });
});
</script>
%}
<h4><% $Title %></h4>

%if($id || $ARGS{add_new}) {
%# Модальное окно
<div id="OptModal" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header"><button id="mclose" class="close" type="button" data-dismiss="modal">×</button>
				<h4 class="modal-title">&nbsp;</h4>
			</div>
			<div class="modal-body">
				<div class="embed-responsive embed-responsive-16by9">
%#					<iframe><%$MODAL%>TEST</iframe>
%#					<div class="modal-body edit-content"></div>
					<div><%$MODAL%></div>
				</div>
			</div>
			<div class="modal-footer">
			<button class="btn btn-default" type="button" data-dismiss="modal">закрыть</button>
%#			<button class="btn btn-primary" type="submit" onclick="window.frames[0].sendform();">Сохранить</button>
			<button class="btn btn-primary" type="submit" onclick="window.sendform();">Ok</button>
			</div>
		</div>
	</div>
</div>

<form method="POST">
<table border="1">
<tr><td colspan="2" align="right"><input type="submit" name="cancel" value="X" title="отменить"></td></tr>
%if($ARGS{add_new}) {
<%$FORM_NEW%>
<input type="hidden" name="add_new" value="1">
%} else {
<%$FORM_EDIT%>
<tr><td colspan="2" align="center"><input type="checkbox" name="drop"><i>удалить</i></td></tr>
%}

<tr><td></td><td><input type="submit" name="submit" value="Сохранить" style="display: true;"></td></tr>
%#	<input type="hidden" name="type" value="<% $type %>">
</table>
</form>
%} elsif((@Fields && $List) || $type) {
<form method="POST">
<p><input class="btn" type="submit" name="add_new" value="Добавить">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
%#<input type="hidden" name="type" value="<%$type%>">
</form>
%} else {
<h1>Управление конфигурацией</h1>

<div class="row">
<ul>
<li><a href="?type=1">Доступ</a></li>
<li><a href="?type=2">Типы счетчиков</a></li>
<li><a href="?type=3">Столбы</a></li>
<li><a href="?type=4">Проезды</a></li>
%#<li><a href="?type=5">Участки</a></li>
<li><a href="?type=6">Персоны</a></li>
</ul>
</div>

%#<div class="row">
%#<ul>
%#<li><a href="/phpldapadmin/index.php" target=_blank>Конфигурация (LDAP)</a></li>
%#</ul>
%#</div>

%}

%if(@Fields && $List) {
<table border="1">
<tr>
	<th>N</th>
%	foreach(@Fields) {
		<th><div align="center"><% $_ %></div></th>
%	}
</tr>
%	my $n = 1;
%	foreach my $row (@{$List}) {
		<tr>
			<td align="center"><% $n %></td>
%			foreach(@{$row}) {
				<td><% $_ %></td>
%			}
		</tr>
%		$n++;
%	}
</table>
%}


<script>
<% $SCRIPT %>
</script>

<pre>
%use Data::Dumper;
%#<% Dumper %ARGS %>
%#<% $FORM_NEW %>
%#<% Dumper $Usr %>
%#<% $ARGS{street_id} %>
</pre>


