<%args>
	$dbh
	$auth
	$verb => 0
	$ajax => 0
	$id => undef
	$filter => undef
	$filter2 => undef
	$showdel => undef
</%args>
<%init>
#use Data::Dumper;
#use POSIX;

#if($auth->{gid} ne '1' && $auth->{gid} ne '2') {	# только admin и manager
#	$r->status_line('');
#	$m->clear_buffer;
#	$m->abort(404);
#}

map { $_ =~ s/\D//g; } ( $verb, $id, $filter, $filter2);
map { $_ = 1 if($_ > 1) } ( $verb);
map { $_ = 0 if($_ > 1000) } ( $id);
undef $filter unless $filter;
undef $filter2 unless $filter2;
undef $showdel unless $showdel;

my %Err;
my $OK=0;

my $sth;
# Справочники

# Проезды (улицы)
#my $S = $m->comp("lib.msn:listload", dbh=>$dbh, name=>'street', nocache=>0);
# Люди
#my $Owners = $m->comp("lib.msn:ownerlist", dbh=>$dbh, nocache=>1);
# Столбы
my $Towers = $m->comp("lib.msn:listload", dbh=>$dbh, name=>'towers', nocache=>0);
# Типы счетчиков
my $Ctypes = $m->comp("lib.msn:listload", dbh=>$dbh, name=>'counter_type', nocache=>0);
# Текущие показания счетчиков
my $LastCounter = $m->comp("lib.msn:lastcounter", dbh=>$dbh, id=>0, nocache=>1);

my ($List, $Usr);
# Группы
$sth = $dbh->prepare("select * from mgroup");
$sth->execute();
while(my $r = $sth->fetchrow_hashref) {
	$List->{$r->{id}} = $r;
}
$sth->finish;

if($id) {
	$sth = $dbh->prepare("select * from counters where id=?");
	$sth->execute($id);
	while(my $r = $sth->fetchrow_hashref) {
		$Usr = $r;
	}
	$sth->finish;
}

if($ARGS{submit} && $auth->{gid} eq 1) {
	if($ARGS{delete} && $id) {	# удаление записи
#		$dbh->do("delete from counters where id=$id");
		$dbh->do("UPDATE counters SET active=-1 WHERE id=$id");
		undef $id;
		$OK++;
	} else {
		my $active = $ARGS{active}? 1:0;
		my $subscr = $ARGS{subscr}? 1:0;
		map { $ARGS{$_} =~ s/\D//g; $ARGS{$_} ||= 0 } ('addr','mgroup','sn','model','tower_id','year','street');
		map { $ARGS{$_} = 0 if($ARGS{$_} > 2000000000) } ('addr','mgroup','sn','model','tower_id','year','street');
		$ARGS{plimit} =~ s/\,/\./g;
		$ARGS{plimit} =~ s/[^0-9\.]//g;
		$ARGS{plimit} = 3.6	if(!$ARGS{plimit} or $ARGS{plimit} == 0 or $ARGS{plimit} > 10000);
		my ($mday,$mon,$year) = (localtime)[3,4,5];
		$ARGS{setdate} ||= sprintf("%4d-%02d-%02d",$year+1900,$mon+1,$mday);

		unless(%Err) {
			if($Usr) {	# Обновление
				my $chg = ($active ne $Usr->{active})? 1:0;
				$chg++	if($subscr ne $Usr->{subscr})? 1:0;
				map {$chg++ if($ARGS{$_} ne $Usr->{$_})} ('name','addr','mgroup','sn','model','setdate','memo','tower_id','year','street','house','owner','plimit','dn');
				if($chg) {	# есть изменения
					my $upd = $dbh->prepare("update counters set name=?,addr=?,mgroup=?,sn=?,model=?,setdate=?,memo=?,active=?,tower_id=?,year=?,street=?,house=?,owner=?,modtime=now(),plimit=?,subscr=?,dn=? where id=?");
					$upd->execute($ARGS{name},$ARGS{addr},$ARGS{mgroup},$ARGS{sn},$ARGS{model},$ARGS{setdate},$ARGS{memo},$active,$ARGS{tower_id},$ARGS{year},$ARGS{street},$ARGS{house},$ARGS{owner},$ARGS{plimit},$subscr,$ARGS{dn},$id);
				}
			} else {	# Новая запись

				my ($passwd1,$passwd2) = ('','');
				if($Ctypes->{$ARGS{model}}->{type} eq 'M230') { ($passwd1,$passwd2) = ('111111','222222'); }
				my $ins = $dbh->prepare("insert into counters (name,addr,mgroup,sn,model,setdate,memo,active,tower_id,year,street,house,owner,passwd,passwd2,modtime,plimit,subscr,dn) values (?,?,?,?,?,?,?,?,?,?,?,?,?,\'$passwd1\',\'$passwd2\',now(),?,?,?)");
				$ins->execute($ARGS{name},$ARGS{addr},$ARGS{mgroup},$ARGS{sn},$ARGS{model},$ARGS{setdate},$ARGS{memo},$active,$ARGS{tower_id},$ARGS{year},$ARGS{street},$ARGS{house},$ARGS{owner},$ARGS{plimit},$subscr,$ARGS{dn});
			}
			undef $id;
			undef $ARGS{"add_new"};
			$OK++;
#			$m->clear_buffer;
#			# The next two lines are necessary to stop Apache from re-reading POSTed data.
#			$r->method('GET');
#			$r->headers_in->unset('Content-length');
#			$r->content_type('text/html');
#			$r->header_out('Location' => 'index.html');
#			$m->abort(301);
		}
	}
}

if(!$ARGS{"add_new"} && !$id && !$OK) {
	# Счетчики полный список
	my $L = $m->comp("lib.msn:cflistload", dbh=>$dbh, nocache=>1, showdel=>$showdel);
	foreach(keys %$L) { $List->{$_}->{items} = $L->{$_}->{items}; }

}
</%init>
%#<pre>
%#<%Dumper $auth%>
%#</pre>
%if($OK) {
<h3 id="resok">Запись сохранена</h3>
<p><a href="index.html">Home</a></p>
<script type=text/javascript>
$(document).ready(function() {
	$("#resok").fadeOut(1200, function() {document.location = "index.html"; });
});
</script>
%} elsif($id || $ARGS{"add_new"}) {
<form method="POST">
<input type="hidden" name="add_new" value="<%$ARGS{"add_new"}%>">
<p><a href="index.html">Отменить</a></p>
<table border="1">
<tr>
<td>Используется:</td>
<td><input type="checkbox" name="active" <% $ARGS{active} || (!$ARGS{submit} ? $Usr->{active} : "") ? "checked":""%> <% ($auth->{gid} >1) ? "disabled":"" %>>
%	if($id) {
<div align=right><small>modtime: <%$Usr->{modtime} =~ /(.+)\.\d+/%></small></div>
%	}
</td>
</tr>
<tr>
<td>Название:</td>
<td><input type="text" name="name" value="<%$ARGS{name} || (!$ARGS{submit} ? $Usr->{name} : "")%>" <% ($auth->{gid} >1) ? "disabled":"" %>></td>
</tr>
<tr>
<td>Сетевой адрес:</td>
<td><input type="text" name="addr" value="<%$ARGS{addr} || (!$ARGS{submit} ? $Usr->{addr} : "") %>" <% ($auth->{gid} >1) ? "disabled":"" %>></td>
</tr>
<tr>
<td>Группа:</td>
<td><select name="mgroup" <% ($auth->{gid} >1) ? "disabled":"" %>>
<option></option>
%	foreach my $gid (sort {$List->{$a}->{name} cmp $List->{$b}->{name}} keys %$List) {
<option value="<%$gid%>" <% ((!$ARGS{submit} ? $Usr->{mgroup} : $ARGS{mgroup}) eq $gid)? "selected":"" %>><%$List->{$gid}->{name}%></option>
%	}
</select></td>
</tr>
<tr>
<td>Серийный номер:</td>
<td><input type="text" name="sn" value="<%$ARGS{sn} || (!$ARGS{submit} ? $Usr->{sn} : "") %>" <% ($auth->{gid} >1) ? "disabled":"" %>></td>
</tr>
<tr>
<td>Год выпуска:</td>
<td><input type="text" name="year" value="<%$ARGS{year} || (!$ARGS{submit} ? $Usr->{year} : "")%>" <% ($auth->{gid} >1) ? "disabled":"" %>></td>
</tr>
<tr>
<td>Тип:</td>
<td><select name="model" <% ($auth->{gid} >1) ? "disabled":"" %>>
<option></option>
%	foreach my $cid (sort {$Ctypes->{$a}->{name} cmp $Ctypes->{$b}->{name}} keys %$Ctypes) {
<option value="<%$cid%>" <% ((!$ARGS{submit} ? $Usr->{model} : $ARGS{model}) eq $cid)? "selected":"" %>><%$Ctypes->{$cid}->{name}%></option>
%	}
</select></td>
</tr>
<tr>
<td>Участок:<br><small>формат: "ou=Уч.,ou=Улица"</small></td>
<td><input type="text" name="dn" value="<%$ARGS{dn} || (!$ARGS{submit} ? $Usr->{dn} : "")%>" <% ($auth->{gid} >1) ? "disabled":"" %>></td>
</tr>



%#<tr>
%#<td>Проезд:</td>
%#<td><select name="street" <% ($auth->{gid} >1) ? "disabled":"" %>>
%#<option></option>
%#%	foreach my $sid (sort {$S->{$a}->{name} cmp $S->{$b}->{name}} keys %$S) {
%#<option value="<%$sid%>" <% ((!$ARGS{submit} ? $Usr->{street} : $ARGS{street}) eq $sid)? "selected":"" %>><%$S->{$sid}->{name}%></option>
%#%	}
%#</select></td>
%#</tr>
%#<tr>
%#<td>Участок:</td>
%#<td><input type="text" name="house" value="<%$ARGS{house} || (!$ARGS{submit} ? $Usr->{house} : "")%>" <% ($auth->{gid} >1) ? "disabled":"" %>></td>
%#</tr>
%#<tr>
%#<td>Владелец:</td>
%#<td>
%#<select name="owner" <% ($auth->{gid} >1) ? "disabled":"" %>>
%#<option></option>
%#%	foreach my $uid (sort {$Owners->{$a}->{lname} cmp $Owners->{$b}->{lname}} keys %$Owners) {
%#%		next	unless($Owners->{$uid}->{lname});
%#<option value="<%$uid%>" <% ((!$ARGS{submit} ? $Usr->{owner} : $ARGS{owner}) eq $uid)? "selected":"" %>><%$Owners->{$uid}->{fullname} || $Owners->{$uid}->{name} || $Owners->{$uid}->{lname}%></option>
%#%	}
%#</select>
%#</td>
%#</tr>



<tr>
<td>Столб:</td>
<td><select name="tower_id" <% ($auth->{gid} >1) ? "disabled":"" %>>
<option></option>
%	foreach my $sid (sort {$Towers->{$a}->{name} <=> $Towers->{$b}->{name}} keys %$Towers) {
<option value="<%$sid%>" <% ((!$ARGS{submit} ? $Usr->{"tower_id"} : $ARGS{"tower_id"}) eq $sid)? "selected":"" %>><%$Towers->{$sid}->{name}%></option>
%	}
</select></td>
</tr>
<tr>
<td>Дата установки:</td>
<td><input type="text" name="setdate" value="<%$ARGS{setdate} || (!$ARGS{submit} ? $Usr->{setdate} : "")%>" <% ($auth->{gid} >1) ? "disabled":"" %>></td>
</tr>
<tr>
<td>Лимит мощности:</td>
<td><input type="text" name="plimit" value="<%$ARGS{plimit} || (!$ARGS{plimit} ? $Usr->{plimit} : "")%>" <% ($auth->{gid} >1) ? "disabled":"" %>></td>
</tr>
<tr>
<td>Подписка:</td>
<td><input type="checkbox" name="subscr" <% $ARGS{subscr} || (!$ARGS{submit} ? $Usr->{subscr} : "") ? "checked":""%><% ($auth->{gid} >1) ? "disabled":"" %>>&nbsp;&nbsp;отправлять владельцу информацию о статусе</td>
</tr>
<tr>
<td>Примечания:</td>
<td><textarea name="memo" cols="30" rows="2" <% ($auth->{gid} >1) ? "disabled":"" %>><%$ARGS{memo} || (!$ARGS{submit} ? $Usr->{memo} : "")%></textarea></td>
</tr>

%if($auth->{gid} eq 1) {
<tr>
<td></td>
<td><input type="submit" name="submit" value="Сохранить">&nbsp;<i>удалить</i><input type="checkbox" name="delete"></td>
</tr>
%}

</table>
%if($filter) {
<input type="HIDDEN" name="filter" value="<%$filter%>">
%}
%if($filter2) {
<input type="HIDDEN" name="filter2" value="<%$filter2%>">
%}
</form>
%} else {	# полный список
%	my ($sec,$min,$hour,$mday,$mon,$year) = (localtime)[0,1,2,3,4,5];

%if($auth->{gid} eq 1) {
<style type="text/css">
	#ping
		{
		width: 50%;
		position: fixed;
		// top: 0;
		left: 50%;
		//position: absolute;
		top: expression(
			document.getElementsByTagName( 'body' )[0].scrollTop + "px"
		);
	}
</style>
<iframe name="ping" id="ping" align="right" frameborder="0" width="50%" style:"position:fixed;">iframe не поддерживается</iframe>
%}

<div class="masthead">
	<ul class="nav nav-pills pull-left">
		<li class="active"><a href="/">Home</a></li>
		<li><a href="expense.html">Расходы</a></li>
%if($auth->{gid} < 3) {
		<li><a href="pays.html">Платежи</a></li>
%}
%if($auth->{gid} eq 1) {
%#		<li><a href="user.html">Персоны</a></li>
%#		<li><a href="auth.html">authors</a></li>
		<li><a href="/phpldapadmin/index.php" target=_blank>Справочник</a></li>
%}
	</ul>
%#	<h3 class="muted">GHPower</h3>
</div>
<hr>

<p><br></p>
<form name="filter" method="POST">
<select name="filter">
<option value="0">-- все группы --</option>
%foreach my $mgid (sort {$List->{$a}->{rank} <=> $List->{$b}->{rank}} keys %$List) { 
%	next unless $List->{$mgid}->{items};
<option value="<%$mgid%>" <% $filter && $mgid == $filter ? "selected":""%>><% $List->{$mgid}->{name}%></option>
%}
</select>
<select name="filter2">
<option value="0">-- все счетчики --</option>
<option value="1" <%$filter2 eq '1' ? "selected":""%>>-- активные --</option>
<option value="2" <%$filter2 eq '2' ? "selected":""%>>-- неактивные --</option>
</select>
<label class="checkbox">
<input type="checkbox" name="showdel" <%$showdel ? "checked":""%>>Показывать удаленные
</label>
<input class="btn" type="submit" name="sel" value="Выбрать">
</form>

<h2>Текущие показания счетчиков</h2>
<p><div id="lastime"><% $m->comp("lib.msn:lastime", dbh=>$dbh)->{lastime} %></div></p>

%if($auth->{gid} eq 1) {
<p>gid: [<%$filter%>]</p>

<form method="POST">
<p><input class="btn" type="submit" name="add_new" value="Добавить счетчик">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</form>
%}
%my @mgids;
<table border="1" class="table-condensed" id="fullist">
%foreach my $mgid (sort {$List->{$a}->{rank} <=> $List->{$b}->{rank}} keys %$List) {
%	next if $filter &&  !($mgid == $filter);
%	next unless $List->{$mgid}->{items};
%	push @mgids,$mgid;
<tr>
<td><input type="checkbox" name="mgid_<%$mgid%>" <% ($ARGS{"mgid_".$mgid} || $List->{mgid}->{active}) ? "checked":""%> disabled></td>
<td><b><% $List->{$mgid}->{name}%></b></td>
<td colspan="9"><% $List->{$mgid}->{memo}%></td>
</tr>
%	my $i=1;
%#	foreach my $item (sort { $S->{$a->{street}}->{name} cmp $S->{$b->{street}}->{name} || $a->{house} <=> $b->{house}} @{$List->{$mgid}->{items}}) {

%	foreach my $item (sort { $a->{street_name} cmp $b->{street_name} || $a->{domain} <=> $b->{domain} || $a->{name} cmp $b->{name}} @{$List->{$mgid}->{items}}) {


%		if($filter2) {
%			next	if($filter2 eq '1' && $item->{active} ne '1');
%			next	if($filter2 eq '2' && $item->{active});
%		}
%		next	if($item->{active} < 0 && !$showdel);
<tr id="<%$item->{id}%>">
<td align="center"><%$i%>.</td>
<td align="right"><a href="?id=<%$item->{id}%>"><%$item->{addr} ? $item->{addr} : "---"%></a> (<%$item->{sn}%>)</td>
%	my $parcel;
%	if($item->{street_name}) {
%		$parcel = $item->{street_name};
%		$parcel = substr($parcel, 0, 1);
%		$parcel .= '.-';
%	} $parcel .= $item->{domain};
<td><% $parcel || $item->{name} %></td>
%	my @owners;
%	foreach(@{$item->{Dom}->{owners}}) {
%		my ($lname,$fname,$mname) = split(" ",$_->{cn}[0]);
%		my $name;
%		if($fname =~ /^(.){1}/) {
%			$name = $lname." $1.";
%			if($mname =~ /^(.)/) {
%				$name .= "$1.";
%			}
%	}
%		push @owners,$name; }
<td><% join ",", @owners %></td>
<td><%$Towers->{$item->{tower_id}}->{name}%></td>
%#<td align="right"><a href="energy.html?id=<%$item->{id}%><%$filter ? "&filter=$filter":""%>"><%$LastCounter->{$item->{id}}->{t1}%></a></td>
%#<td align="right"><a href="energy.html?id=<%$item->{id}%><%$filter ? "&filter=$filter":""%>"><%$LastCounter->{$item->{id}}->{t2}%></a></td>

<td id="t1_<%$item->{id}%>" align="right"><%$LastCounter->{$item->{id}}->{t1}%></td>
<td id="t2_<%$item->{id}%>"align="right"><%$LastCounter->{$item->{id}}->{t2}%></td>

%my $mark = ($LastCounter->{$item->{id}}->{over}) ? "class=redbold":"";
<td align="right"><a href="energy.html?id=<%$item->{id}%><%$filter ? "&filter=$filter":""%>"><div id="p_<%$item->{id}%>" <%$mark%>> <%$LastCounter->{$item->{id}}->{lpower} ? $LastCounter->{$item->{id}}->{lpower} : "_"%></div></a></td>
<td bgcolor="<% defined $item->{state} ? ($item->{state} ? "red":"green") : "yellow" %>"><input type="checkbox" name="id_<%$item->{id}%>" <% ($ARGS{"id_".$item->{id}} || $item->{active}) ? "checked":""%> disabled></td>
<td>
%if($auth->{gid} eq 1) {
<a href="ping.html?id=<%$item->{id}%>" target="ping">ping</a>
%}
</td>
%#<td bgcolor="<% defined $item->{state} ? ($item->{state} ? "red":"green") : "yellow" %>"/>
<td><input type="checkbox" name="subscr_<%$item->{id}%>" <% ($ARGS{"subscr_".$item->{id}} || $item->{subscr}) ? "checked":""%> disabled></td>
</tr>
%	$i++;
%	}
<tr><td colspan=7 align=right>Сумма:</td><td align=right><div id="mgid_<%$mgid%>" class="bold"><% $m->comp("lib.msn:grsum", dbh=>$dbh, gid=>$mgid)->{lpsum} %></div></td><td colspan=3></td></tr>
%}
</table>

%if($ajax) {
%# Динамическое обновление
<script type=text/javascript>
%# Последние показания счетчика
function show(par) {
	var cmd = JSON.stringify({ 
							method: 'lastcounter', 
							version: 1.1,
							params: {id:par}
						});
	 $.ajax({
		data: cmd,
   		success: function(data,status,jqxhr){
			var data = JSON.parse(jqxhr.responseText);
		   	$("#p_"+par).html(data.result.lpower);
		   	$("#t1_"+par).html(data.result.t1);
		   	$("#t2_"+par).html(data.result.t2);
		   	if(data.result.over > 0) {
				$("#p_"+par).css('color','red').css('font-weight','bold');
		   	} else {
		   		$("#p_"+par).css('color','').css('font-weight','');
		   	}
		}
	});
}

function showData() {
	$("#fullist tr").each(function(){
		if(this.id) {
			show(this.id);
		}
	});
}
%# Время последнего обновления данных на сервере
function showlastime() {
	var cmd = JSON.stringify({ 
							method: 'lastime', 
							version: 1.1,
						});
	 $.ajax({
		data: cmd,
   		success: function(data,status,jqxhr){
			var data = JSON.parse(jqxhr.responseText);
		   	$("#lastime").html(data.result.lastime);
		}
	});
}
%# Текущая сумма мощностей по лучу
function showSum(par) {
	var cmd = JSON.stringify({ 
							method: 'grsum', 
							version: 1.1,
							params: {gid:par}
						});
	 $.ajax({
		data: cmd,
   		success: function(data,status,jqxhr){
			var data = JSON.parse(jqxhr.responseText);
		   	$("#mgid_"+par).html(data.result.lpsum);
		}
	});
}

function showSumAll() {
	var mgids = [<% join ",", @mgids %>];
	mgids.forEach(function(item, i, arr) {
		showSum(item);
	});
}

%# Планируем запуски
$(document).ready(function() {

	$.ajaxSetup({
		url: "/api/",
		type: "POST",
		dataType: "json",
		cache: false,
		headers: {'Content-type': 'application/json'},
		//   global: false //
	});

	setInterval('showData()',300000);
	showData();
	setInterval('showlastime()',300000);
	showlastime();
	setInterval('showSumAll()',300000);
	showSumAll();
});
</script>
%} # if ajax

%} # полный список




%#<pre>
%#<% Dumper $List %>
%#<% Dumper $Usr %>
%#<% Dumper %ARGS %>
%#<% Dumper $LastCounter %>
%#</pre>


