<%args>
	$dbh
	$auth
	$id => undef
</%args>
<%init>
#use Data::Dumper;
use POSIX;

if($auth->{gid} ne '1' && $auth->{gid} ne '2') {	# admin или manager
	$r->status_line('');
	$m->clear_buffer;
	$m->abort(404);
}

my $gp = $dbh->prepare("SELECT id,date,prev1,prev2,current1,current2,amount,balance,mode,init FROM payments WHERE cid=? ORDER BY modtime DESC LIMIT 1");
my $List2 = $m->comp("lib.msn:Domains_Struct", dbh=>$dbh, nocache=>0);
my $ghpower = GHPower->new($dbh);

# Экспорт csv
if($ARGS{export}) {
	$m->clear_buffer;
#	$r->content_type('text/csv');
	$r->content_type('application/octet-stream');
	$r->headers_out->add('Content-disposition',"attachment;  filename=payments.csv"); 
#	foreach my $street_id (sort { $a <=> $b } keys %$List) {
#		my $items = $List->{$street_id};
#		foreach my $house (sort {$a<=>$b} keys %$items) {
#			$m->out($items->{$house}->{id});
#			$m->out(';');
#			$m->out($S->{$street_id}->{name});
#			$m->out(';');
#			$m->out($house);
#			$m->out(';');
#			$m->out($Owners->{$items->{$house}->{owner}}->{lname});
#			$m->out(';');
#			$m->out($m->comp("lib.msn:pretty", value=>$items->{$house}->{balance}));
#			$m->out(';');
#			$m->out($m->comp("lib.msn:pretty_date", date=>$items->{$house}->{p_date}));
#			$m->out("\n");
#		}
#	}
	$m->abort;
}
</%init>
<style type="text/css">
	#pform
		{
		width: 100%;
		position: fixed;
		top: 0;
		height: 100%;
		left: 50%;
		//position: absolute;
		top: expression(
			document.getElementsByTagName( 'body' )[0].scrollTop + "px"
		);
	}
</style>
<iframe name="pform" id="pform" align="right" frameborder="0" width="70%" style:"position:fixed;">iframe не поддерживается</iframe>

<div class="masthead">
	<ul class="nav nav-pills pull-left">
		<li class="active"><a href="/">Home</a></li>
		<li><a href="tarifs.html" target="pform">Тарифы</a></li>
%#		<li><a href="?export=1">Экспорт</a></li>
	</ul>
%#	<h3 class="muted">GHPower</h3>
</div>
<hr>
<p><br></p>

<h2>Платежи</h2>
<table border="1" class="table-condensed">
%my $total2;


%foreach my $street (sort {$List2->{$a}->{ord} <=> $List2->{$b}->{ord}} keys %{$List2}) {

<tr><td colspan="5"><b><br><%$street%></b></td></tr>
<tr><th><i>Участок</i></th><th><i>Владелец</i></th><th><i>Остаток</i></th><th><i>Посл.оплата</i></th><th><i>Рассылка</i></th></tr>
%	my $localsum;
%	my $Dom = $List2->{$street}->{Dom};
%	foreach my $house (sort {$a <=> $b || $a cmp $b} keys %{$Dom}) {
%		my @owners;
%		foreach(@{$Dom->{$house}->{owners}}) {
%			push @owners, $_->{sn}[0];
%		}
%		my $counters = $ghpower->getcounters_dn("ou=$house,ou=$street");
%		foreach my $cid (keys %{$counters}) {
%			next	if($counters->{$cid} < 0);	# Не показывать удаленные счетчики
<%perl>
			my $BALANCE;
			# последний платеж по этому счетчику
			$gp->execute($cid);
			my ($p_id,$p_date,$p_prev1,$p_prev2,$p_current1,$p_current2,$p_amount,$p_balance,$t_mode,$init) = $gp->fetchrow_array;
			$gp->finish;
			if($p_id) {	# платеж был
#				my $C = $m->comp("lib.msn:getcounter_last", dbh=>$dbh, id=>$cid, nocache=>1);
#				map {s/\,/\./} ($C->{se1},$C->{se2});
#				my ($c_date,$c1,$c2) = ($C->{date},$C->{se1},$C->{se2});
#				my $flow1 = sprintf("%.02f", $c1 - $p_current1);
#				my $flow2 = sprintf("%.02f", $c2 - $p_current2);
#
#				my ($bal,undef,undef) = $m->comp("lib.msn:getcost_simple", dbh=>$dbh, flow1=>$flow1, flow2=>$flow2, mode=>$t_mode);
#				$BALANCE = $p_balance - $bal;
#				$localsum += $BALANCE;



				my ($id,$bdate,$bal) = $m->comp("lib.msn:get_cbalance", dbh=>$dbh, cid=>$cid);
				$BALANCE = $bal;
				$localsum += $BALANCE;
			}

			my $Item = $m->comp("lib.msn:counter_info",dbh=>$dbh,id=>$cid);
#use Data::Dumper; print STDERR Dumper $Item;
</%perl>
<tr>
<td align="right" <% $t_mode == 1 ? "class=\"onemode\"":"" %>><b <% $counters->{$cid} == 1 ? "":"class=\"inactive\""%>><%$house%></b></td>
<td><a href="pform.html?cid=<%$cid%><%$counters->{$cid} == 1 ? "":"\&closed=1"%>" target="pform"><%join("<br>", @owners) || "-" %></a></td>
<td align="right"><div style=color:<%$BALANCE <0 ? "red":"green"%>><% $BALANCE ?  $m->comp("lib.msn:pretty", value=>$BALANCE) : ""%></div></td>
<td align="right" <% $init eq '2' ? "class=\"badinitpay\"":"" %>><%  $m->comp("lib.msn:pretty_date", date=>$p_date)%></td>
<td align=right>
<input type="checkbox" name="subscr_<%$cid%>" <% $Item->{subscr} ? "checked":""%> disabled>

</td>
</tr>
%		}
%	}
<tr>
<td></td>
<td><b>Всего:</b></td>
<td align="right"><div style=color:<%$localsum <0 ? "red":"green"%>><b><% $localsum ?  $m->comp("lib.msn:pretty", value=>$localsum) : ""%></b></div></td>
<td></td>
</tr>
%	$total2 += $localsum;
%}
</table>
<hr>
<p><nobr><b>Итого:</b>&nbsp;&nbsp;&nbsp;<b><% $total2 ?  $m->comp("lib.msn:pretty", value=>$total2) : "0"%></b></nobr></p>

