<%args>
	$dbh
	$auth
	$id => undef
</%args>
<%init>
use Data::Dumper;
use POSIX;
use locale;
#setlocale(&LC_COLLATE, 'ru_RU.KOI8-R');
use utf8;

if($auth->{gid} ne '1' && $auth->{gid} ne '2') {	# admin или manager
	$r->status_line('');
	$m->clear_buffer;
	$m->abort(404);
}

# Проезды (улицы)
my $S = $m->comp("lib.msn:listload", dbh=>$dbh, name=>'street', nocache=>0);
# Текущий тариф
my $T = $m->comp("lib.msn:tariff", dbh=>$dbh, nocache=>0);
my $Owners = $m->comp("lib.msn:listload", dbh=>$dbh, name=>'users', nocache=>0);

# Счетчики
my $L = $m->comp("lib.msn:cflistload", dbh=>$dbh, nocache=>0);


my $List;
my $gp = $dbh->prepare("SELECT id,date,prev1,prev2,current1,current2,amount,balance FROM payments WHERE cid=? ORDER BY modtime DESC LIMIT 1");

foreach(keys %$L) {
	my @items = @{$L->{$_}->{items}};
	foreach my $item(@items) {

#$m->out('<pre>');
#$m->out(Dumper $item);
#$m->out('</pre>');
		next	unless($item->{street});
		next	unless($item->{active});	# только работающие счетчики
		# последний платеж по этому счетчику
		$gp->execute($item->{id});
		my ($p_id,$p_date,$p_prev1,$p_prev2,$p_current1,$p_current2,$p_amount,$p_balance) = $gp->fetchrow_array;
		$gp->finish;
		if($p_id) {	# платеж был
			$item->{p_date} = $p_date;
			my $C = $m->comp("lib.msn:lastcounter", dbh=>$dbh, id=>$item->{id}, nocache=>1);
			map {s/\,/\./} ($C->{t1},$C->{t2});
			my ($c_date,$c1,$c2) = ($C->{tm},$C->{t1},$C->{t2});
			my $flow1 = sprintf("%.02f", $c1 - $p_current1);
			my $flow2 = sprintf("%.02f", $c2 - $p_current2);

			$item->{balance} = $p_balance - ($flow1 * $T->{C}->{t1} + $flow2 * $T->{C}->{t2}) * $T->{C}->{k};
		}
		$List->{$item->{street}}->{$item->{house}} = $item;

	}
}


</%init>
<pre>
%#<%Dumper $T%>
</pre>

<style type="text/css">
	#pform
		{
		width: 100%;
		position: fixed;
		top: 0;
		height: 100%;
		left: 50%;
		//position: absolute;
		top: expression(
			document.getElementsByTagName( 'body' )[0].scrollTop + "px"
		);
	}
</style>
<iframe name="pform" id="pform" align="right" frameborder="0" width="70%" style:"position:fixed;">iframe не поддерживается</iframe>

<p><a href="tarifs.html" target="pform">Тарифы</a></td></p>

<table border="1">
%foreach my $street_id (sort { $a <=> $b } keys %$List) {
%	my $items = $List->{$street_id};
<tr><td colspan="5"><b><%$S->{$street_id}->{name}%></b></td></tr>
<tr><th><i>Дом</i></th><th><i>Владелец</i></th><th><i>Баланс</i></th><th><i>Посл.оплата</i></th></tr>
%	foreach my $house (sort {$a<=>$b} keys %$items) {
<tr>
<td align="right"><b><%$house%></b></td>
<td><a href="pform.html?cid=<%$items->{$house}->{id}%>" target="pform"><%$Owners->{$items->{$house}->{owner}}->{lname} || "null"%></a></td>
<td align="right"><div style=color:<%$items->{$house}->{balance} <0 ? "red":"green"%>><% $items->{$house}->{balance} ?  $m->comp("lib.msn:pretty", value=>sprintf("%.02f",$items->{$house}->{balance})) : ""%></div></td>
<td align="right"><%  $m->comp("lib.msn:pretty_date", date=>$items->{$house}->{p_date})%></td>
%#<td align="right"><a href="pform.html?list=1&id=<%$items->{$house}->{id}%>" target="pform">H</a>&nbsp;<a href="pform.html?id=<%$items->{$house}->{id}%>" target="pform">A</a></td>
</tr>
%	}
%}
</table>
