<%args>
	$dbh
	$auth
	$id => 0
	$date => 0
</%args>
<%init>
use XML::Simple;
use POSIX;
use File::Temp qw/ tempfile tempdir /;

if($auth->{gid} ne '1' && $auth->{gid} ne '2') {	# admin или manager
	$r->status_line('');
	$m->clear_buffer;
	$m->abort(404);
}

if($date =~ /(\d{1,2})[\-\.](\d{1,2})[\-\.](\d{4})/) {
	$date = sprintf("%d-%02d-%02d",$3,$2,$1);
} else {
	undef $date 	unless($date =~ m/\d{4}\-\d{2}\-\d{2}/);
}
$id =~ s/\D//g;

my ($Data, $report_name, @fields, $sth, $FORM);
if($id == 1) {

	$report_name = 'Членские взносы';
	unless($date) {
		$FORM = "<form method=POST>";
		$FORM .= '<table border=1><tr><td>Дата:</td>';
		$FORM .= '<td><input type="text" name="date" value="dd.mm.yyyy" onfocus="this.select();_Calendar.lcs(this)" onclick="event.cancelBubble=true;this.select();_Calendar.lcs(this)"  class="form-control"></td>';
		$FORM .= '<td align="right"><input type="submit" name="submit" value="OK"></td>';
		$FORM .= '</tr>';
		$FORM .= '</table></form>';
	} else {

		$report_name .= " (по состоянию на ".$m->comp("lib.msn:pretty_date", date=>$date).")";
		@fields = ('Взнос','Дата погашения','Начислено','Собрано','Долги');
		$sth = $dbh->prepare("select T.id,T.name,T.sdate,sum(A.amount),(select sum(P.amount) from b_pays P inner join b_credit C on P.b_credit_id=C.id where P.pdate<=? and C.b_tariff_id=T.id) from b_credit A inner join b_tariff T on A.b_tariff_id=T.id where A.status=0 and T.sdate<=? group by T.id,T.name,T.sdate,T.edate order by T.edate DESC");
		$sth->execute($date,$date);
		#select T.id,T.name,T.sdate,sum(A.amount) from b_credit A inner join b_tariff T on A.b_tariff_id=T.id where A.status=0 and T.sdate<=? group by T.id,T.name,T.sdate,T.edate order by T.edate DESC
		#select C.b_tariff_id,sum(P.amount) from b_pays P inner join b_credit C on P.b_credit_id=C.id where P.pdate<=? group by C.b_tariff_id;

		my ($total_amount,$total_debt,$total_credit) = (0,0,0);
		while(my $r = $sth->fetchrow_arrayref) {
			my @a = ({class=>'text-info',data=>$r->[1]},
			{class=>'text-right',data=>$m->comp("lib.msn:pretty_date", date=>$r->[2])},
			{class=>'text-right',data=>$m->comp("lib.msn:pretty", value=>$r->[3])},
			{class=>'text-right',data=>$m->comp("lib.msn:pretty", value=>$r->[4])},
			{class=>'text-right',data=>$m->comp("lib.msn:pretty", value=>($r->[3] - $r->[4]))});
			$total_credit += $r->[3];
			$total_amount += $r->[4];
			$total_debt += ($r->[3] - $r->[4]);
			push @$Data, \@a;
		}
		$sth->finish;
		my @a = ({data=>''},
			{class=>'bold',data=>'Всего:'},
			{class=>'bold',data=>$m->comp("lib.msn:pretty", value=>$total_credit)},
			{class=>'bold',data=>$m->comp("lib.msn:pretty", value=>$total_amount)},
			{class=>'bold',data=>$m->comp("lib.msn:pretty", value=>$total_debt)});
		push @$Data, \@a;
	}
	
} # id=1

elsif($id == 2) {
	$report_name = 'Полный список участков';
	@fields = ('Проезд','Участок','Площадь','Владелец','E-mail владельца','Телефон владельца','Доверенное лицо','E-mail доверенного','Телефон доверенного');

	my $ghpower = GHPower->new($dbh);
	my $List = $ghpower->Domains_Struct;
	foreach my $street (sort keys %$List) {
		my $Dom = $List->{$street};
		foreach my $house (sort {$a <=> $b} keys %{$Dom}) {
			my $P = $Dom->{$house};
			my @A = ({class=>'text-info',data=>$street},
				{class=>'text-right',data=>$house},
				{class=>'text-right',data=>$P->{square}},
			);
			my (@name,@email,@phone);
			foreach my $owner (@{$P->{owners}}) {
				push @name, '<nobr>'.$owner->{cn}.'</nobr>';
				foreach my $email (@{$owner->{email}}) {
					push @email, "<nobr>$email</nobr>" 	if($email);
				}
				foreach my $mobile (@{$owner->{phone}}) {
					push @phone, "<nobr>$mobile</nobr>"	if($mobile);
				}
			}
			push @A, {(data => join("<BR>", @name))};
			push @A, {(data => join(",", @email))};
			push @A, {(data => join(",", @phone))};

			(@name,@email,@phone) = ((),(),());

			foreach my $manager (@{$P->{managers}}) {
				push @name, '<nobr>'.$manager->{cn}.'</nobr>';
				foreach my $email (@{$manager->{email}}) {
					push @email, "<nobr>$email</nobr>" 	if($email);
				}
				foreach my $mobile (@{$manager->{phone}}) {
					push @phone, "<nobr>$mobile</nobr>" 	if($mobile);
				}
			}
			push @A, {(data => join("-", @name))};
			push @A, {(data => join(",", @email))};
			push @A, {(data => join(",", @phone))};

			push @$Data, \@A;
		}
	}
	
} # id=2
elsif($id == 3) {	# Можно использовать как шаблон для других отчетов в xml

	unless($date) {
		$report_name = 'Показания счетчиков';
		$FORM = "<form method=POST>";
		$FORM .= '<table border=1><tr><td>Дата:</td>';
		my $dt = ParseDate("yesterday");
		my ($y,$m,$d,undef) = ($dt =~ m/(\d{4})(\d{2})(\d{2})/);
		$FORM .= '<td><input type="text" name="date" value="'."$d.$m.$y".'" onfocus="this.select();_Calendar.lcs(this)" onclick="event.cancelBubble=true;this.select();_Calendar.lcs(this)"  class="form-control"></td>';
		$FORM .= '<td align="right"><input type="submit" name="submit" value="OK"></td>';
		$FORM .= '</tr>';
		$FORM .= '</table></form>';
	} else {

		my (undef,$tmpname) = tempfile();
		system("export MY=$ENV{MY}; \$MY/counter/fullist_estored $date > $tmpname");
		my $D = XMLin($tmpname, ForceArray => [ ]);
		unlink($tmpname);

		$report_name = $D->{header};
		# Названия полей
		foreach my $field (sort { $D->{fields}->{field}->{$a}->{order} <=> $D->{fields}->{field}->{$b}->{order} } keys %{$D->{fields}->{field}}) {
			push @fields, $D->{fields}->{field}->{$field}->{label};
		}
		# Строка таблицы по списку полей
		foreach my $item (sort {$a->{street} cmp $b->{street} || $a->{number} <=> $b->{number} } @{$D->{items}->{item}}) {
			my @A;
			foreach my $field (sort { $D->{fields}->{field}->{$a}->{order} <=> $D->{fields}->{field}->{$b}->{order} } keys %{$D->{fields}->{field}}) {
				my $style = $D->{fields}->{field}->{$field}->{style} || '';
				push @A, {( class=>$style, data => (ref $item->{$field} eq 'HASH')? '':$item->{$field} )};
			}
			push @$Data, \@A;
		}
	}
} # id=3
elsif($id == 4) {
	$report_name = 'Список владельцев участков';
	@fields = ('Участок','Владелец','Подпись');

	my $ghpower = GHPower->new($dbh);
	my $List = $ghpower->Domains_Struct;

	# Порядок сортировки улиц
	my %s_ord;
	foreach my $street (keys %$List) {
		my $Dom = ($List->{$street});
		foreach my $house (keys %{$Dom}) {
			$s_ord{$street} = $Dom->{$house}->{s_ord};
			last;
		}
	}

	foreach my $street (sort {$s_ord{$a} <=> $s_ord{$b}} keys %$List) {
		my @a = ({subhead=>1,class=>"text-info lead bold",data=>'<br>'.$street});
		push @$Data, \@a;
		my $Dom = ($List->{$street});
		foreach my $house (sort {$a <=> $b} keys %{$Dom}) {
			my $P = $Dom->{$house};
			#my @A = ({class=>'text-info',data=>$street},
			my @A = ({class=>"text-right text-info bold",data=>$Dom->{$house}->{street_sname}.'-'.$house});
			my @name;
			foreach my $owner (@{$P->{owners}}) {
				push @name, '<nobr>'.$owner->{cn}.'</nobr>';
			}
			push @A, {(data => join("<BR>", @name))};
			push @A, {(data=>'&nbsp;')};
			push @$Data, \@A;
		}
	}
	
} # id=4
elsif($id == 5) {
	$report_name = 'Список членов СНТ';
	@fields = ('Участок','Член СНТ','Подпись');
	push @fields, 'email'	if($ARGS{email});

	my $ghpower = GHPower->new($dbh);
	my $List = $ghpower->Domains_Struct;

	#use Data::Dumper;
	#$m->out('<pre>');
	#$m->out(Dumper $List);
	#$m->out('</pre>');

	# Порядок сортировки улиц
	my %s_ord;
	foreach my $street (keys %$List) {
		my $Dom = ($List->{$street});
		foreach my $house (keys %{$Dom}) {
			$s_ord{$street} = $Dom->{$house}->{s_ord};
			last;
		}
	}
	my %M;
	foreach my $street (sort {$s_ord{$a} <=> $s_ord{$b}} keys %$List) {
		my $sshow = 0;
		my @a = ({subhead=>1,class=>"text-info lead bold",data=>'<br>'.$street});
		push @$Data, \@a;
		my $Dom = ($List->{$street});
		foreach my $house (sort {$a <=> $b} keys %{$Dom}) {
			my $P = $Dom->{$house};
			my (%oname, %email);
			foreach my $owner (@{$P->{owners}}) {
				next	if(exists $M{$owner->{id}});
				if($owner->{member}) {
					$M{$owner->{id}}++;	# чтобы не повторялись
					$oname{"$owner->{lname} $owner->{fname} $owner->{mname}"} = $owner->{id};
					$email{$owner->{id}} = $owner->{email};
				}
			}
			foreach my $member (keys %oname) {	# Все владельцы (теоретически, все они могут быть членами СНТ)
				my @addr;	# список участков, которыми владеет эта персона
				{
					foreach my $street (sort {$s_ord{$a} <=> $s_ord{$b}} keys %$List) {
						foreach my $house (sort {$a <=> $b} keys %{$List->{$street}}) {
							foreach my $ow (@{$List->{$street}->{$house}->{owners}}) {
								if($ow->{id} == $oname{$member}) {	# Добавим этой персоне участок
									push @addr, $List->{$street}->{$house}->{street_sname}.'-'.$house;
								}
							}
						}
					}
				}
				my @A = ({class=>"text-right text-info bold",data=>join(", ", @addr)});
				push @A, {(data=>$member)};
				push @A, {(data=>'&nbsp;')};
				push @A, {(data=>join(",", @{$email{$oname{$member}}}))}	if($ARGS{email});
				push @$Data, \@A;
				$sshow++;
			}
		}
		# Отфильтровать "пустую" улицe
		pop @$Data 	unless($sshow);
	}
} # id=5

#use Data::Dumper;
</%init>
%#<pre>
%#	<% $report_name %>
%#	<% Dumper %ARGS %>
%#</pre>
%#<%doc>

<ul class="breadcrumb">
	<li><a href="/">Home</a> <span class="divider">/</span></li>
%if($id) {
    <li><a href="reports.html">Отчеты</a></li>
%} else {
    <li class="active">Отчеты</li>
%}
</ul>

%if($id) {
<h2><% $report_name %></h2>
%if($FORM) {
<script src="calendar.js?2" type="text/javascript"></script>
	<% $FORM %>
% } else {

<table class="table-condensed">
<thead>
<tr>
<th>N</th>
%foreach(@fields) {
<th class="text-center"><%$_%></th>
%}
</tr>
</thead>
<tbody>
%my $i=1;
%foreach my $row (@$Data) {
<tr>
%if($row->[0]->{subhead}) {
<td colspan="<% scalar @fields + 1 %>" <% $row->[0]->{class} ? 'class="'.$row->[0]->{class}.'"':'' %>><% $row->[0]->{data} %></td>
%	} else {
<td class="text-center"><%$i%></td>
%$i++;
%foreach my $item (@$row) {
<td <% $item->{class} ? 'class="'.$item->{class}.'"':'' %>><% $item->{data} %></td>
%}}

</tr>
%}
</tbody>
</table>

% }
%} else {
<div class="row">
<ul>
<li><a href="?id=2">Полный список участков</a></li>
<li><a href="?id=4">Список владельцев участков (бланк)</a></li>
<li><a href="?id=5">Список членов СНТ (бланк)</a></li>
<li><a href="?id=1">Членские взносы</a></li>
<li><a href="?id=3">Показания счетчиков</a></li>
</ul>
</div>
%}


%#</%doc>
