<%args>
	$dbh
	$auth
	$id => 0
	$date => 0
</%args>
<%init>
use XML::Simple;
use POSIX;
use File::Temp;

if($auth->{gid} ne '1' && $auth->{gid} ne '2') {	# admin или manager
	$r->status_line('');
	$m->clear_buffer;
	$m->abort(404);
}

if($date =~ /(\d{1,2})[\-\.](\d{1,2})[\-\.](\d{4})/) {
	$date = sprintf("%d-%02d-%02d",$3,$2,$1);
} else {
	undef $date 	unless($date =~ m/\d{4}\-\d{2}\-\d{2}/);
}
$id =~ s/\D//g;

my ($Data, $report_name, @fields, $sth, $FORM);
if($id == 1) {
	$report_name = 'Членские взносы';
	@fields = ('Взнос','Дата погашения','Начислено','Собрано','Долги');
	$sth = $dbh->prepare("select T.name,T.edate,sum(A.amount),sum(A.amount-A.debt),sum(A.debt) from b_credit A inner join b_tariff T on A.b_tariff_id=T.id group by T.name,T.edate order by T.edate DESC");
	$sth->execute();
	my ($total_amount,$total_debt,$total_credit) = (0,0,0);
	while(my $r = $sth->fetchrow_arrayref) {
		my @a = ({class=>'text-info',data=>$r->[0]},
		{class=>'text-right',data=>$m->comp("lib.msn:pretty_date", date=>$r->[1])},
		{class=>'text-right',data=>$m->comp("lib.msn:pretty", value=>$r->[2])},
		{class=>'text-right',data=>$m->comp("lib.msn:pretty", value=>$r->[3])},
		{class=>'text-right',data=>$m->comp("lib.msn:pretty", value=>$r->[4])});
		$total_credit += $r->[2];
		$total_amount += $r->[3];
		$total_debt += $r->[4];
		push @$Data, \@a;
	}
	$sth->finish;
	my @a = ({data=>''},
		{class=>'bold',data=>'Всего:'},
		{class=>'bold',data=>$m->comp("lib.msn:pretty", value=>$total_credit)},
		{class=>'bold',data=>$m->comp("lib.msn:pretty", value=>$total_amount)},
		{class=>'bold',data=>$m->comp("lib.msn:pretty", value=>$total_debt)});
	push @$Data, \@a;
	
} # id=1

elsif($id == 2) {
	$report_name = 'Полный список участков';
	@fields = ('Проезд','Участок','Площадь','Владелец','E-mail','Телефон','Доверенное лицо','E-mail','Телефон');

	my $ghpower = GHPower->new($dbh);
	my $List = $ghpower->Domains_Struct;
	foreach my $street (sort keys %$List) {
		my $Dom = $List->{$street}->{Dom};
		foreach my $house (sort {$a <=> $b} keys %{$Dom}) {
			my $P = $Dom->{$house};

			my @A = ({class=>'text-info',data=>$street},
				{class=>'text-right',data=>$house},
				{class=>'text-right',data=>$P->{x121address}[0]},
			);
			my (@name,@email,@phone);
			foreach my $owner (@{$P->{owners}}) {
				next unless($owner->{cn}[0]);
				push @name, '<nobr>'.$owner->{cn}[0].'</nobr>';
				foreach my $email (@{$owner->{mail}}) {
					push @email, $email;
				}
				foreach my $mobile (@{$owner->{mobile}}) {
					push @phone, $mobile;
				}
			}
			push @A, {(data => join("<BR>", @name))};
			push @A, {(data => join(",", @email))};
			push @A, {(data => join(",", @phone))};

			(@name,@email,@phone) = ((),(),());

			foreach my $manager (@{$P->{managers}}) {
				next unless($manager->{cn}[0]);

				push @name, '<nobr>'.$manager->{cn}[0].'</nobr>';
				foreach my $email (@{$manager->{mail}}) {
					push @email, $email;
				}
				foreach my $mobile (@{$manager->{mobile}}) {
					push @phone, $mobile;
				}
			}
#			push @A, {(data => 'SIZE: '.scalar @name)};
			push @A, {(data => join("-", @name))};
			push @A, {(data => join(",", @email))};
			push @A, {(data => join(",", @phone))};

			push @$Data, \@A;
		}
	}
	
} # id=2
elsif($id == 3) {	# Можно использовать как шаблон для других отчетов в xml

	unless($date) {
		$report_name = 'Показания счетчиков';
		$FORM = "<form method=POST>";
		$FORM .= '<table border=1><tr><td>Дата:</td>';
		$FORM .= '<td><input type="text" name="date" value="dd.mm.yyyy" onfocus="this.select();_Calendar.lcs(this)" onclick="event.cancelBubble=true;this.select();_Calendar.lcs(this)"  class="form-control"></td>';
		$FORM .= '<td align="right"><input type="submit" name="submit" value="OK"></td>';
		$FORM .= '</tr>';
		$FORM .= '</table></form>';
	} else {

		my $tmpname = tmpnam();
		system("export MY=$ENV{MY}; \$MY/counter/fullist_estored $date > $tmpname");
		my $D = XMLin($tmpname, ForceArray => [ ]);
		unlink($tmpname);

		$report_name = $D->{header};
		# Названия полей
		foreach my $field (sort { $D->{fields}->{field}->{$a}->{order} <=> $D->{fields}->{field}->{$b}->{order} } keys %{$D->{fields}->{field}}) {
			push @fields, $D->{fields}->{field}->{$field}->{label};
		}
		# Строка таблицы по списку полей
		foreach my $item (sort {$a->{street} cmp $b->{street} || $a->{number} <=> $b->{number} } @{$D->{items}->{item}}) {
			my @A;
			foreach my $field (sort { $D->{fields}->{field}->{$a}->{order} <=> $D->{fields}->{field}->{$b}->{order} } keys %{$D->{fields}->{field}}) {
				my $style = $D->{fields}->{field}->{$field}->{style} || '';
				push @A, {( class=>$style, data => (ref $item->{$field} eq 'HASH')? '':$item->{$field} )};
			}
			push @$Data, \@A;
		}
	}
} # id=3

#use Data::Dumper;
</%init>
<pre>
%#	<% $report_name %>
%#	<% Dumper %ARGS %>
</pre>
%#<%doc>


<div class="masthead">
	<ul class="nav nav-pills pull-left">
		<li class="active"><a href="/">Home</a></li>
		<li><a href="reports.html?id=0">Отчеты</a></li>
	</ul>
</div>
<hr>
<h1>&nbsp;</h1>
%if($id) {
<h1><% $report_name %></h1>
%if($FORM) {
<script src="calendar.js?2" type="text/javascript"></script>
	<% $FORM %>
% } else {

<table class="table-condensed">
<thead>
<tr>
<th>N</th>
%foreach(@fields) {
<th class="text-center"><%$_%></th>
%}
</tr>
</thead>
<tbody>
%my $i=1;
%foreach my $row (@$Data) {
<tr>
<td><%$i%></td>
%foreach my $item (@$row) {
<td <% $item->{class} ? 'class="'.$item->{class}.'"':'' %>><% $item->{data} %></td>
%}
</tr>
%$i++;}
</tbody>
</table>

% }
%} else {
<div class="row">
<ul>
<li><a href="?id=2">Полный список участков</a></li>
<li><a href="?id=1">Членские взносы</a></li>
<li><a href="?id=3">Показания счетчиков</a></li>
</ul>
</div>
%}


%#</%doc>