dn: o=ВАШДОМЕН
o: ВАШДОМЕН
objectClass: organization
objectClass: top
structuralObjectClass: organization
entryUUID: bb6bb848-468e-1035-9eed-05e96916e1ce
creatorsName: cn=admin,o=ВАШДОМЕН
createTimestamp: 20160103175408Z
entryCSN: 20160103175408.436393Z#000000#000#000000
modifiersName: cn=admin,o=ВАШДОМЕН
modifyTimestamp: 20160103175408Z

dn: ou=auth,o=ВАШДОМЕН
ou: auth
objectClass: organizationalUnit
objectClass: top
structuralObjectClass: organizationalUnit
entryUUID: dd860fd2-468e-1035-9eee-05e96916e1ce
creatorsName: cn=admin,o=ВАШДОМЕН
createTimestamp: 20160103175505Z
entryCSN: 20160103175505.651566Z#000000#000#000000
modifiersName: cn=admin,o=ВАШДОМЕН
modifyTimestamp: 20160103175505Z

dn: ou=persons,o=ВАШДОМЕН
ou: persons
objectClass: organizationalUnit
objectClass: top
structuralObjectClass: organizationalUnit
entryUUID: c326f146-468f-1035-9ef0-05e96916e1ce
creatorsName: cn=admin,o=ВАШДОМЕН
createTimestamp: 20160103180130Z
entryCSN: 20160103180130.904161Z#000000#000#000000
modifiersName: cn=admin,o=ВАШДОМЕН
modifyTimestamp: 20160103180130Z

dn: ou=domains,o=ВАШДОМЕН
objectClass: organizationalUnit
objectClass: top
structuralObjectClass: organizationalUnit
entryUUID: b56924de-48ba-1035-9efc-05e96916e1ce
creatorsName: cn=admin,o=ВАШДОМЕН
createTimestamp: 20160106121358Z
ou: domains
l:: 0JfQtdC70LXQvdCw0Y8g0LPQvtGA0LrQsA==
entryCSN: 20160111184539.575940Z#000000#000#000000
modifiersName: cn=admin,o=ВАШДОМЕН
modifyTimestamp: 20160111184539Z

dn: ou=group,ou=auth,o=ВАШДОМЕН
ou: group
objectClass: organizationalUnit
objectClass: top
structuralObjectClass: organizationalUnit
entryUUID: 14dc418c-48f0-1035-8f0b-4fe2edc88e87
creatorsName: cn=admin,o=ВАШДОМЕН
createTimestamp: 20160106183601Z
entryCSN: 20160106183601.999463Z#000000#000#000000
modifiersName: cn=admin,o=ВАШДОМЕН
modifyTimestamp: 20160106183601Z

dn: cn=admin,ou=group,ou=auth,o=ВАШДОМЕН
cn: admin
gidNumber: 1
objectClass: posixGroup
objectClass: top
structuralObjectClass: posixGroup
entryUUID: 5974c33c-48f0-1035-8f0d-4fe2edc88e87
creatorsName: cn=admin,o=ВАШДОМЕН
createTimestamp: 20160106183757Z
entryCSN: 20160106183757.084000Z#000000#000#000000
modifiersName: cn=admin,o=ВАШДОМЕН
modifyTimestamp: 20160106183757Z

dn: cn=manager,ou=group,ou=auth,o=ВАШДОМЕН
cn: manager
gidNumber: 2
objectClass: posixGroup
objectClass: top
structuralObjectClass: posixGroup
entryUUID: 9dc57e3c-48f0-1035-8f0e-4fe2edc88e87
creatorsName: cn=admin,o=ВАШДОМЕН
createTimestamp: 20160106183951Z
entryCSN: 20160106183951.698144Z#000000#000#000000
modifiersName: cn=admin,o=ВАШДОМЕН
modifyTimestamp: 20160106183951Z

dn: cn=user,ou=group,ou=auth,o=ВАШДОМЕН
cn: user
gidNumber: 3
objectClass: posixGroup
objectClass: top
structuralObjectClass: posixGroup
entryUUID: b5f3fbd2-48f0-1035-8f0f-4fe2edc88e87
creatorsName: cn=admin,o=ВАШДОМЕН
createTimestamp: 20160106184032Z
entryCSN: 20160106184032.268143Z#000000#000#000000
modifiersName: cn=admin,o=ВАШДОМЕН
modifyTimestamp: 20160106184032Z

dn:: b3U90KHQtdCy0LXRgNC90YvQuSxvdT1kb21haW5zLG89emdvcmth
ou:: 0KHQtdCy0LXRgNC90YvQuQ==
objectClass: organizationalUnit
objectClass: top
structuralObjectClass: organizationalUnit
entryUUID: ffe81be2-4a4e-1035-8135-0b64c30328db
creatorsName: cn=admin,o=ВАШДОМЕН
createTimestamp: 20160108122800Z
destinationIndicator: 1
entryCSN: 20160110115910.990032Z#000000#000#000000
modifiersName: cn=admin,o=ВАШДОМЕН
modifyTimestamp: 20160110115910Z

dn:: b3U90JLQvtGB0YLQvtGH0L3Ri9C5LG91PWRvbWFpbnMsbz16Z29ya2E=
ou:: 0JLQvtGB0YLQvtGH0L3Ri9C5
objectClass: organizationalUnit
objectClass: top
structuralObjectClass: organizationalUnit
entryUUID: 14cacd84-4a4f-1035-8136-0b64c30328db
creatorsName: cn=admin,o=ВАШДОМЕН
createTimestamp: 20160108122835Z
destinationIndicator: 2
entryCSN: 20160110115845.501305Z#000000#000#000000
modifiersName: cn=admin,o=ВАШДОМЕН
modifyTimestamp: 20160110115845Z

dn:: b3U90JfQsNC/0LDQtNC90YvQuSxvdT1kb21haW5zLG89emdvcmth
ou:: 0JfQsNC/0LDQtNC90YvQuQ==
objectClass: organizationalUnit
objectClass: top
structuralObjectClass: organizationalUnit
entryUUID: 285e5c94-4a4f-1035-8138-0b64c30328db
creatorsName: cn=admin,o=ВАШДОМЕН
createTimestamp: 20160108122908Z
destinationIndicator: 4
entryCSN: 20160110115948.753037Z#000000#000#000000
modifiersName: cn=admin,o=ВАШДОМЕН
modifyTimestamp: 20160110115948Z

dn:: b3U9MixvdT3QktC+0YHRgtC+0YfQvdGL0Lksb3U9ZG9tYWlucyxvPXpnb3JrYQ==
ou: 2
objectClass: top
objectClass: organizationalUnit
objectClass: extensibleObject
structuralObjectClass: organizationalUnit
entryUUID: f20ee6c8-4a84-1035-8143-0b64c30328db
creatorsName: cn=admin,o=ВАШДОМЕН
createTimestamp: 20160108185409Z
owner: uid=lastname.1453573730,ou=persons,o=ВАШДОМЕН
manager: uid=1453583364,ou=persons,o=ВАШДОМЕН
entryCSN: 20160123221328.734440Z#000000#000#000000
modifiersName: cn=admin,o=ВАШДОМЕН
modifyTimestamp: 20160123221328Z

dn: cn=Administrator,ou=auth,o=ВАШДОМЕН
cn: Administrator
description: pw: secret
gidNumber: 1
homeDirectory: /
objectClass: inetOrgPerson
objectClass: top
objectClass: posixAccount
sn: admin
uid: admin
uidNumber: 1000
userPassword:: e0NSWVBUfSQxJEh6M0czRVdQJDNMS3dxSkxGOGhuMEY4SmFLdlJoOC8=
structuralObjectClass: inetOrgPerson
entryUUID: 8d7eec6e-5662-1035-9248-edbf5d7ec848
creatorsName: cn=admin,o=ВАШДОМЕН
createTimestamp: 20160123211812Z
entryCSN: 20160123211812.135384Z#000000#000#000000
modifiersName: cn=admin,o=ВАШДОМЕН
modifyTimestamp: 20160123211812Z

dn: uid=lastname.1453573730,ou=persons,o=ВАШДОМЕН
birthDate: 2001-03-15
category: Business
category: Favorites
cn: Mr. FirstName MiddleName LastName Esq.
displayName: Nickname
fileAs: LastName, FirstName
givenName: FirstName
mail: work@email
mail: home@email
mail: other@email
mail: other2@email
note:: 0K3RgtCwINC30LDQv9C40YHRjCDQtNC70Y8g0L/RgNC40LzQtdGA0LAuCtCh0L7Qt9C00
 LDQvdCwINCyIEV2b2x1dGlvbiDQtNC70Y8g0YLQvtCz0L4sINGH0YLQvtCx0Ysg0L/QvtC60LDQ
 t9Cw0YLRjCDRgdC+0L7RgtCy0LXRgtGB0YLQstC40LUg0L/QvtC70LXQuS4=
objectClass: top
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
objectClass: evolutionPerson
sn: LastName
telephoneNumber: +7(123)333-55-77
uid: lastname.1453573730
structuralObjectClass: evolutionPerson
entryUUID: e3914372-5662-1035-9249-edbf5d7ec848
creatorsName: cn=admin,o=ВАШДОМЕН
createTimestamp: 20160123212036Z
entryCSN: 20160123212036.539601Z#000000#000#000000
modifiersName: cn=admin,o=ВАШДОМЕН
modifyTimestamp: 20160123212036Z

dn: uid=1453583364,ou=persons,o=ВАШДОМЕН
cn:: 0JLQsNGB0LjQu9C40Lkg0JjQstCw0L3QvtCy0LjRhyDQn9GD0L/QutC40L0=
displayName:: 0JLQsNGB0Y8=
fileAs:: 0J/Rg9C/0LrQuNC9LCDQktCw0YHQuNC70LjQuQ==
givenName:: 0JLQsNGB0LjQu9C40Lk=
mail: pupkin@email
note:: 0JTQvtCy0LXRgNC10L3QvdC+0LUg0LvQuNGG0L4g0LLQu9Cw0LTQtdC70YzRhtCwLg==
objectClass: top
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson
objectClass: evolutionPerson
sn:: 0J/Rg9C/0LrQuNC9
telephoneNumber: +7(333)678-54-21
uid: 1453583364
structuralObjectClass: evolutionPerson
entryUUID: f0639c74-5669-1035-924b-edbf5d7ec848
creatorsName: cn=admin,o=ВАШДОМЕН
createTimestamp: 20160123221104Z
entryCSN: 20160123221104.527919Z#000000#000#000000
modifiersName: cn=admin,o=ВАШДОМЕН
modifyTimestamp: 20160123221104Z

dn:: b3U9MjfQkSxvdT3Ql9Cw0L/QsNC00L3Ri9C5LG91PWRvbWFpbnMsbz16Z29ya2E=
ou:: MjfQkQ==
structuralObjectClass: organizationalUnit
entryUUID: 0a074e2c-566b-1035-924c-edbf5d7ec848
creatorsName: cn=admin,o=ВАШДОМЕН
createTimestamp: 20160123221857Z
objectClass: organizationalUnit
objectClass: top
objectClass: extensibleObject
owner: uid=1453583364,ou=persons,o=ВАШДОМЕН
owner: uid=lastname.1453573730,ou=persons,o=ВАШДОМЕН
entryCSN: 20160123222254.919904Z#000000#000#000000
modifiersName: cn=admin,o=ВАШДОМЕН
modifyTimestamp: 20160123222254Z

